[2014-09-11 07:21] alanorth opened #25 "Add Portuguese language to input forms"

[2014-09-11 07:23] alanorth commented on #25
Added in 2ce7b3f5cd01da58b291668bd8d6acdd1de694cd.

[2014-09-11 07:23] #25 closed, assigned to alanorth

[2014-11-23 12:52] alanorth opened #28 "Add custom discovery facets for CRP etc"
Sisay had added some but they were based on DSpace 3.x code, and they included a lot of "kitchen sink" changes that had other side effects.  We need to do new ones based on the DSpace 4.x `dspace/config/spring/api/` discovery files.

[2014-11-23 12:59] alanorth opened #29 "Enable OpenSearch"
We can use OpenSearch backend in DSpace to provide custom RSS feeds based on OpenSearch queries, ie for certain subject terms like CRPs.  This is useful because we can feed them to FeedBurner to get alerts when new ones are added.

[2014-11-23 14:03] alanorth commented on #29
Seems to be working, but I don't know how to search for custom fields.  I think it's only working with titles...

http://dspacetest.cgiar.org/open-search/discover?query=livestock&format=rss

[2014-11-23 15:08] alanorth commented on #29
Ah, it seems we can do advanced metadata field searches in the query, like: `query=author:Alan`, or for the crpsubject field:

http://dspacetest.cgiar.org/open-search/discover?query=crpsubject:CLIMATE%20CHANGE,%20AGRICULTURE%20AND%20FOOD%20SECURITY&sort_by=2&format=rss

But it seems to return other stuff which isn't in the CRP... wtf?   Lemme try an `index-discovery -b` to refresh the indexes.

[2014-11-23 18:41] alanorth commented on #28
Atmire already configured many of our indexes, we just have to add them as facets, for example `searchFilterCrpsubject` see this commit:

https://github.com/ilri/DSpace/commit/244fcd7bc5dfd75d51af81d3f2dcd84945566c25

[2014-11-24 09:41] alanorth commented on #29
Ok, `subject` seems to work, or at least returns items that have this term in their title:

http://dspacetest.cgiar.org/open-search/discover?query=subject:LIVESTOCK+AND+FISH

Not sure why it does that... and I still haven't found out what the hell it is _actually_ returning when I search for the `crpsubject` field.

[2014-11-24 12:49] alanorth commented on #29
Ah, you have to add the searchFilter to the Discovery configuration you're using as your site's default, see: https://github.com/ilri/DSpace/commit/b970a02554b9a6a3e809be3085864299a8233bad

In our case, we're using `homepageConfiguration` config for our site default, which controls the available search filters.  This same config governs which filters are available in OpenSearch.  Now this seems to

[2014-11-24 13:21] alanorth commented on #29
Now all I have to figure out is how to get them to be sorted by date added...

[2014-12-02 08:46] alanorth commented on #29
This seems to get us items sorted by date, but in ascending order (oldest first):

http://dspacetest.cgiar.org/open-search/discover?query=crpsubject:LIVESTOCK+AND+FISH&format=rss&sort_by=2&rpp=100

We need a way to get descending... I suspect we just add a custom sort_by to the discovery config, and then access it via it's index.  Like if we have four sort_by options, they would be 0, 1, 2, and 3

[2014-12-02 14:01] alanorth commented on #29
Ok, this is promising... it's much easier to see the sort order if we massage the results:

[code]

So `sort_by=2` is definitely sorting by date published, but in descending order.  It seems other valid sorts are 0, 1, and 3, but I don't know where they are defined, or where to define more.  I will just try adjusting the sort order for all discovery searches in `dspace/config/spring/api/discovery.

[2014-12-02 19:24] alanorth commented on #29
Submitted query to dspace-tech mailing list...

https://www.mail-archive.com/dspace-tech@lists.sourceforge.net/msg27626.html

[2014-12-03 09:21] alanorth commented on #29
Ok, this is insane, the sort options are defined in `dspace.cfg` (even when using Discovery), and there is an `order` parameter for OpenSearch!

http://dspacetest.cgiar.org/open-search/discover?query=crpsubject:LIVESTOCK+AND+FISH&format=rss&sort_by=3&order=DESC

This gives us items, sorted by date accessioned.  Note: the RSS output doesn't actually _list_ the accessioned date field, but the items

[2014-12-04 07:38] alanorth opened #31 "Disable non-caching cocoon pipeline for XMLUI themes"
Some time during DSpace 1.7 or 1.8, we were seeing bizarre caching effects in XMLUI themes, like themes using CSS from one theme, but a banner from another.  We initially suspected client-side browser caching but eventually found that the Cocoon pipeline was somehow messing up.

The fix at the time was to use a non-caching pipeline for XMLUI themes.  It has been nearly two years since we made this

[2014-12-05 09:01] alanorth commented on #28
DSpace 4.2 deployed on CGSpace with custom CRP sidebar facet.  We can add more later.

[2014-12-05 09:01] #28 closed, assigned to nobody

[2014-12-05 09:02] alanorth commented on #29
DSpace 4 deployed on CGSpace, OpenSearch is working there:

https://cgspace.cgiar.org/open-search/discover?query=crpsubject:LIVESTOCK+AND+FISH&format=rss&sort_by=3&order=DESC

We still need to see if this works in Feed Burner, but this issue is addressed.

[2014-12-05 09:02] #29 closed, assigned to alanorth

[2014-12-05 12:24] alanorth opened #32 "Add more Discovery sidebar facets"
As a follow up to #28, we need to add more sidebar facets for:
- [x] Author affiliations
- [x] Authors
- [x] Date issued
- [x] Output types
- [x] CGIAR Research Programs
- [x] Region
- [x] Country
- [ ] Subject – should be 'AGRIS keywords'
- [x] Bioversity subjects (cg.subject.bioversity)
- [x] CCAFS subjects
- [x] CIAT subjects
- [x] CIFOR subjects
- [x] CIP subjects
- [x] CTA subjects
- [x] Dryl

[2014-12-05 12:25] alanorth opened #33 "Swap "Browse" and "Discover" on the right-hand sidebar"

[2014-12-05 12:32] alanorth opened #34 "Split up input-forms.xml and explore controlled vocabularies"
`input-forms.xml` is one big, ugly file right now.  It has many templates for many institutes, which makes it hard to manage, and always conflicts with mainline DSpace during upgrades.

We need to be able to split the institution-specific controlled vocabularies into separate files.

[2014-12-05 12:43] alanorth opened #35 "Investigate robots.txt versus X-Robots-Tag HTTP header"
Right now we have both robots.txt and `add_header X-Robots-Tag "none";` for DSpace Test... but I don't know which one is respected.  Ideally, on DSpace Test we would block access in robots.txt, but we deploy CGSpace from the same code base, so that's tricky to have different settings.

Maybe we could use robots_test.txt, and redirect those in the nginx vhost for DSpace Test?

[2014-12-05 13:24] bram-atmire commented on #35
Robots.txt is definitely still relevant and respected by well behaving bots. I had a look at wikipedia's robots.txt. Based on their example, I made a suggestion for DSpace:

https://github.com/DSpace/DSpace/pull/764

Definitely make sure to include a sitemap. Right now, the cgspace robots.txt doesn't seem to have one:
https://cgspace.cgiar.org/robots.txt

[2014-12-05 13:50] alanorth commented on #35
Thanks, @bram-atmire. I was reading some docs the other day and noticed that XMLUI publishes a link to the htmlmap at least:

[code]

But we do need to have a way of using the same git codebase with two instances of DSpace, ie production and development.  So that's why I was thinking of using `robots.txt` and `robots-test.txt` or something (and using an nginx redirect on the development server).

[2014-12-05 14:48] alanorth opened #36 "Add Google Analytics code for ICARDA XMLUI theme"

[2014-12-05 14:50] #36 closed, assigned to alanorth

[2014-12-05 14:52] alanorth opened #37 "Add Google Analytics code for Drylands CRP XMLUI theme"
The Drylands CRP doesn't have an XMLUI theme yet, but when it does, here is the information we need:
- Drylands community is: 10568/51670
- Google Analytics code is: UA-57373476-1

[2014-12-07 11:34] alanorth opened #38 "Enable OCSP stapling"
Will reduce round trip time for TLS sessions, see commit and comments here:

https://github.com/alanorth/ansible_blog/commit/6ccfdb99fa316f88c7e3e3278915e2e0c7e3b187

[2014-12-07 17:31] alanorth commented on #33
Customization needs to take place in an XMLUI theme's `navigation.xsl`.  See: http://wiki.lib.sun.ac.za/index.php/SUNScholar/XMLUI_Theme/M1/Page_Structure#Create_custom_navigation_list

[2014-12-08 08:21] alanorth opened #41 "Make sure meta data titles are using sentence case"
We need plural and lower case for second words (except proper nouns), eg:
- Author affiliations
- Date issued
- Output types
- CGIAR Research Programs
- Regions
- Countries
- AGRIS keywords

Also:
- Bioversity subjects
- CIAT subjects
- CIFOR subjects
- CIP subjects
- CTA subjects
- ICARDA subjects
- ILRI subjects
- IWMI subjects
- CCAFS subjects
- Drylands subjects
- Humidtropics subjects
- WLE s

[2014-12-08 08:47] alanorth commented on #32
Added CPWF subjects and converted "Subject" to -> "subjects" (lower case and plural, see #41).

[2014-12-09 09:44] alanorth opened #43 "Strange characters in Discovery search"
Some users reported that the search results in DSpace 4.2 display strange characters.  For example, searching for "ilri research brief" displays results such as (attached).

![image001](https://cloud.githubusercontent.com/assets/191754/5354688/71fac5da-7f9c-11e4-97e1-961dcaa813a6.png)

Item in the screen shot is: https://cgspace.cgiar.org/handle/10568/51393

I suspect these strange characters are

[2014-12-09 10:02] alanorth commented on #43
I tried to re-generate the full-text extract, assuming that maybe a newer set of tools would behave better:

[code]

But there are still strange characters in the bitstream.

[2014-12-09 10:06] alanorth commented on #43
Trying again while forcing UTF-8:

[code]

The characters still show up.  Strange, we're using UTF-8 for the Tomcat connectors, but the full-text extract is still served as ISO-8859-1:

[code]

[2014-12-09 11:52] alanorth commented on #43
Trying a full re-index with UTF-8:

[code]

[2014-12-09 14:16] alanorth commented on #43
Sent a message to dspace-tech explaining the issue:

http://dspace.2283337.n4.nabble.com/Character-encoding-issues-in-Discovery-search-results-td4675835.html

[2014-12-09 16:56] alanorth commented on #33
Fixed in Pull Request #39.

[2014-12-09 16:56] #33 closed, assigned to alanorth

[2014-12-09 17:52] alanorth opened #44 "Add ICARDA subjects"
We need to be able to store, display, browse, and search by ICARDA subject.
- [x] Add to metadata registry (control panel)
- [x] Add to browse indexes (`dspace.cfg`)?
- [x] Add to search filters in `discovery.xml`
- [x] Add to sidebar facets in `discovery.xml`
- [x] Add strings to `messages.xml`
- [ ] Add to Atmire CUA or Listings and Reports?
  - [ ] `dspace/config/modules/atmire-listings-and-rep

[2014-12-10 15:21] alanorth commented on #41
Add subjects for specific centers.

[2014-12-11 07:37] alanorth commented on #44
Progress, adding browse indexes, discovery search filters and sidebar facets, and XMLUI strings:
- https://github.com/alanorth/DSpace/commit/4c8db0cd3b5afd3550ea3830cbd65d642f9f56cd
- https://github.com/alanorth/DSpace/commit/76c9bddd50a1cfa2c44e493950cd1db268af368e
- https://github.com/alanorth/DSpace/commit/436fe528ce00585d60fd39373767431c7ff37690

[2014-12-11 08:08] alanorth commented on #41
I see several categories of changes we need to make, ie:
- "By ILRI subject"
- "Browsing by ILRI subjects"
- "Browsing by ILRI subject _____"
- ILRI subjects

These cover the browse navigation, search results, and Discovery facet titles.

[2014-12-11 10:07] alanorth opened #46 "Add CIP subjects"
List of tasks for CIP subjects, aka `cg.subject.cip`:
- [x] Add to metadata registry (control panel)
- [x] Add to browse indexes (`dspace.cfg`)
- [x] Add to search filters in `discovery.xml`
- [x] Add to sidebar facets in `discovery.xml`
- [x] Add strings to `messages.xml`
- [ ] Add to Atmire CUA or Listings and Reports?
  - [ ] `dspace/config/modules/atmire-listings-and-reports.cfg`
  - [ ] `dspa

[2014-12-11 10:18] alanorth commented on #44
Added clickable links for ICARDA subjects to list/views: alanorth@74c0050

[2014-12-11 10:45] alanorth commented on #41
I've done this for the "Browse" navigation sidebar, and I think Title Case actually looks better for those headings.  We should keep the plurals though.

![selection_056](https://cloud.githubusercontent.com/assets/191754/5392836/e6c40ffc-813b-11e4-9b59-556bf85889c7.png)

[2014-12-11 13:51] alanorth opened #47 "Add Drylands CRP subjects"
List of tasks for Drylands CRP subjects, aka `cg.subject.drylands`:
- [x] Add to metadata registry (control panel)
- [x] Add to browse indexes (`dspace.cfg`)
- [x] Add to search filters in `discovery.xml`
- [x] Add to sidebar facets in `discovery.xml`
- [x] Add strings to `messages.xml`
- [ ] Add to Atmire CUA or Listings and Reports?
  - [ ] `dspace/config/modules/atmire-listings-and-reports.cfg`

[2014-12-11 15:28] alanorth commented on #47
Hmm, for our metadata field name we can call this "drylands", but in printed titles in the website, what do we say? "Drylands subjects" sounds too short, and "CRP on dryland systems subjects" sounds too long...

[2014-12-11 15:37] alanorth opened #48 "Deprecate browse indexes in favor of Discovery"
Instead of old "Browse by" searches:

https://cgspace.cgiar.org/browse?type=ilrisubject

We should probably be using Discovery searches:

https://cgspace.cgiar.org/search-filter?field=ilrisubject

Is there anything "Browse by" can do that Discovery can't?  Technically they are both using the same SOLR (discovery) backend.

[2014-12-11 15:40] alanorth opened #49 "Add new XMLUI strings for Discovery searches"
I didn't notice it before, but discovery searches like this expose new strings we need to translate: https://cgspace.cgiar.org/search-filter?field=ilrisubject

At least:
- `xmlui.Discovery.AbstractSearch.type_ilrisubject`

[2014-12-11 18:35] alanorth commented on #32
Cross off ICARDA, Drylands, and CIP, as they are currently in testing in 4_x-dev branch.

[2014-12-12 10:30] alanorth commented on #47
We'll print this in all XMLUI strings as "Drylands systems" instead of "Drylands".

[2014-12-12 11:25] alanorth commented on #47
Correction, "Dryland systems".

[2014-12-12 14:47] alanorth commented on #46
Switching search filter and sidebar facet names from CIP to CipSubject to keep consistency with the camel case naming scheme Atmire already used for existing entires.

[2014-12-12 14:59] alanorth commented on #44
Switching search filter and sidebar facet names from ICARDA to IcardaSubject to keep consistency with the camel case naming scheme Atmire already used for existing entires.

[2014-12-12 19:31] alanorth commented on #46
Add string for discovery search results, aka "simple" search: `xmlui.ArtifactBrowser.SimpleSearch.filter.cipsubject`

[2014-12-12 19:35] alanorth commented on #41
Maybe we should list strings which should be plural, and which shouldn't be, because it changes depending on context.

Singular:
- xmlui.ArtifactBrowser.SimpleSearch.filter

[2014-12-12 20:56] alanorth commented on #46
Deployed on production.

[2014-12-12 20:56] #46 closed, assigned to alanorth

[2014-12-12 20:56] alanorth commented on #44
Deployed on production.

[2014-12-12 20:56] #44 closed, assigned to alanorth

[2014-12-12 20:57] alanorth commented on #47
Deployed on production.

[2014-12-12 20:57] #47 closed, assigned to alanorth

[2014-12-12 21:10] alanorth commented on #49
Added for CIP, ICARDA, and Drylands in #46 #44 #47.  Now I know to add for new searchFilters we add.

[2014-12-12 21:10] #49 closed, assigned to alanorth

[2014-12-19 10:03] bram-atmire opened #52 "Update CUA version"
https://github.com/ilri/DSpace/blob/4_x-dev/pom.xml#L38

You can change this into:
<cua.version.number>4.2-3.1.4</cua.version.number>

This version bump will address Peter's request regarding contextualized representation of the most popular pages.

[2014-12-19 10:13] alanorth commented on #52
:+1:

[2015-01-16 10:10] alanorth commented on #52
Finally getting around to testing this, and I note that it's `4.2-3.1.4-0`.

[2015-01-16 10:16] #52 closed, assigned to nobody

[2015-01-16 10:23] alanorth opened #55 "Update CCAFS metadata for Phase II"
CCAFS is moving into Phase II and needs to update some of their metadata taxonomy.  This requires:
- Updating `input-forms.xml` for the new terminology
- Batch updating fields existing items in CGSpace via "Export metadata" (CSV)

[2015-01-16 14:30] #55 closed, assigned to alanorth

[2015-01-16 17:24] alanorth commented on #29
According to our `dspace.cfg` we want sort_option 2 for published date:

https://cgspace.cgiar.org/open-search/discover?query=crpsubject:LIVESTOCK+AND+FISH&format=rss&sort_by=2&order=DESC

[2015-01-20 08:39] alanorth opened #57 "CGSpace OAI doesn't have a Repository Identifier"
For some reason CGSpace doesn't have a repository identifier, but DSpace Test does! See:
- https://cgspace.cgiar.org/oai/request?verb=Identify
- http://dspacetest.cgiar.org/oai/request?verb=Identify

[2015-01-21 09:21] alanorth commented on #35
After reading a bit on [DSpace's SEO documentation](https://wiki.duraspace.org/display/DSDOC4x/Search+Engine+Optimization) I see we have an `/htmlmap` but no `/sitemap`.  Also, we should list the sitemaps in robots.txt.

[2015-01-21 09:48] alanorth commented on #35
Ah, fantastic, we actually have both `/htmlmap` and `/sitemap`! And I see your pull request for a better default robots.txt was merged for DSpace 5.0, I'll just cherry-pick that one over to our 4.x branch because it's a major win.

[2015-01-21 16:19] alanorth commented on #35
It is safe to use a permissive `robots.txt` followed by a protective `X-Robots-Tag` HTTP Header. [Google's own docs state this](https://developers.google.com/webmasters/control-crawl-index/docs/robots_meta_tag):

[code]

So in our case, production will effectively have a permissive `robots.txt` and test will use the same `robots.txt` -- because they are deployed from the same code base -- but set

[2015-01-23 05:22] Jayakananthan commented on #57
Please check "dspace/config/modules/oai.cfg" configurations in both installation(Test & Live)

[2015-01-23 11:04] alanorth commented on #57
Those configs are generated automatically, and the values are interpolated by the maven/ant build scripts.  CGSpace says this, for example:

[code]

But for some reason the `Identify` verb doesn't see it... I just checked my local test servers and they all identify fine.  Maybe CGSpace just needs to be re-deployed or something (which we're doing in the next few days anyways). Let's keep an eye on

[2015-01-28 20:26] alanorth commented on #57
Ok, we re-deployed CGSpace production yesterday and I still don't see an identifier... gotta do more digging.

[2015-01-29 06:53] alanorth opened #58 "Text extending beyond content area in CIAT XMLUI theme"
![screen shot 2015-01-28 at 9 55 40 am](https://cloud.githubusercontent.com/assets/191754/5953563/a4c28b06-a79c-11e4-8699-208a89a66f79.png)

I need to look at other XMLUI themes and see if this is just an issue with CIAT or what. Item in screenshot is: https://cgspace.cgiar.org/handle/10568/54615.

[2015-01-29 08:10] alanorth commented on #35
I'm going to close this. Both test and production sites are in Google Webmaster Tools, but due to the `X-Robots-Tag: none` on the test server, it is not being indexed! Webmaster Tools says 27,000 sites submitted from the sitemap, but 0 indexed. :)

[2015-01-29 08:10] #35 closed, assigned to alanorth

[2015-01-29 08:41] alanorth commented on #31
Testing on DSpace Test for several weeks.  Haven't told any users.  Just doing the first initial tests to see if I can find issues myself first.

[2015-02-03 13:13] #37 closed, assigned to alanorth

[2015-02-09 08:03] alanorth opened #59 "Add IPv6 DNS records"
Our Linode VPSes have IPv6, but we don't have AAAA records, so IPv6 clients have to use IPv4 instead.

[2015-02-10 07:34] alanorth commented on #34
@swebsheet did some more work on this for ILRI subjects. He modifies `input-forms.xml` to use an external vocabulary as such:

[code]

With `dspace/config/controlled-vocabularies/ilri-subjects.xml` containing ILRI subjects previously in `input-forms.xml` in the following format:

[code]

See `dspace/config/controlled-vocabularies/srsc.xml` for a complete example.

[2015-02-10 10:20] alanorth commented on #34
Works great!

![selection_079](https://cloud.githubusercontent.com/assets/191754/6124326/907528c2-b11d-11e4-9dbf-b5b9b1a89aee.png)

... but resulting metadata is hierarchical, like: `ILRI vocabularies::ILRI subjects::VALUE CHAINS`.

![selection_082](https://cloud.githubusercontent.com/assets/191754/6124342/b0b9cc96-b11d-11e4-8496-a31fcb39c002.png)

This creates problems with our existing workflows

[2015-02-12 10:48] alanorth commented on #43
Double UTF-8 encoding? See discussion here with helix84:

http://dspace.2283337.n4.nabble.com/Encoding-problem-in-discovery-search-results-xmlui-td4666988.html

Perhaps need to re-investigate the solr indexes for some problem items.

[2015-02-12 16:17] alanorth commented on #43
Another item which displays strange characters in the Discovery search results is 10568/21698, which exists on both the test server as well as the production.

![selection_089](https://cloud.githubusercontent.com/assets/191754/6171450/d049eba2-b2eb-11e4-8596-1e10990a6ee6.png)

[2015-02-13 13:01] alanorth commented on #41
I'm going to use the following general rules for metadata titles:
- Sentence case (minding proper nouns)
- Plural for sidebar facet titles (`xmlui.ArtifactBrowser.SimpleSearch.filter.*`)
- Singular for Discovery advanced search titles (`xmlui.ArtifactBrowser.AdvancedSearch.type_*`)

[2015-02-13 14:50] alanorth commented on #41
Got most of them. Let's close this.  At least I kinda have a strategy now.

[2015-02-13 14:50] #41 closed, assigned to alanorth

[2015-02-13 18:49] alanorth commented on #43
After a big metadata cleanup and discovery configuration change I did an `index-discovery -b` and `filter-media -p "PDF Thumbnail" -f` and now somehow the original problem item looks ok in Discovery search results:

![discovery-search](https://cloud.githubusercontent.com/assets/191754/6193186/ae113b24-b3c9-11e4-9ab6-37ae8320d9cf.png)

And the other item looks fine as well:

![discovery-search](htt

[2015-02-16 08:50] #43 closed, assigned to alanorth

[2015-02-16 08:52] alanorth commented on #32
Update issue to cross off a few facets we've added.

[2015-02-16 09:13] alanorth opened #61 "Add XMLUI strings for AbstractSearch"
New Discovery sidebar facets are missing some XMLUI strings, which show up when you use the "View more" from the sidebar facet. So far I've seen:

[code]

[2015-02-17 20:11] alanorth commented on #57
Wow,! I just fixed this. It turns out we had the OAI application enabled, but the index was empty! I forced a regeneration of the indexes and cleaned the OAI caches and now it should be working!

[code]

Closing issue, but you should definitely try it and comment, @Jayakananthan! Check the Identify page again:

https://cgspace.cgiar.org/oai/request?verb=Identify

[2015-02-17 20:11] #57 closed, assigned to alanorth

[2015-02-18 15:49] alanorth commented on #48
Blocker for this: Atmire Listings and Reports module requires lucene indexes (for now, at least as of DSpace 4.2).

[2015-02-19 05:03] Jayakananthan commented on #57
Hi Alan, I checked again but results failed. I don't know what might be a problem. Anyway I am continuing my testing process and I will let you know anything I found regards this................

[2015-02-19 06:53] alanorth opened #63 "CGSpace fails OAI validation at base-search"
We fixed OAI support in #57, but now, testing CGSpace's OAI with the [base-search](http://oval.base-search.net/) validation tool fails with the following single fatal error:

[code]

I've seen several messages on the dspace-tech mailing list about this, and will have to investigate their solutions. //cc @Jayakananthan

[2015-02-19 06:54] alanorth commented on #57
@Jayakananthan You're right, it's not working. Well, more specifically, DSpace's OAI is working (it wasn't before), but now we're failing to pass the validation tests.

I just opened a new issue for this #63.

[2015-02-19 11:42] #61 closed, assigned to alanorth

[2015-02-24 07:30] alanorth opened #64 "Hide "Browse By" block in sidebar navigation"
We need screen real estate on the side bar, so we want to hide the Browse By sidebar block. We can hide them in XMLUI but they will remain functional for when people click the subject terms in item views and lists. Related to #48.

[2015-02-24 08:22] alanorth opened #65 "Add regions and countries to Discovery filters"
As a subset of #32, we need to add these to the Discovery filters:
- dc.rplace.region
- dc.cplace.country

[2015-03-06 14:56] #65 closed, assigned to alanorth

[2015-03-06 14:59] alanorth commented on #64
One concern raised was that many users use the "Browse by Title" option... but I think that we are presenting so much more information now in the sidebar facets that it's probably pointless to keep the "Browse by" options visible. Let's discuss...

[2015-03-10 14:35] alanorth opened #67 "Add XMLUI theme for Feed the Future Innovation Lab"
Basic theme done by @swebsheet, still needs:
- [x] quality check
- [x] google analytics code: UA-51793143-1
- [x] banner link should go to: https://ilssi.tamu.edu/
- [x] community handle is: 10568/35730

[2015-03-10 14:37] alanorth opened #68 "Add XMLUI theme for Technical Consortium"
Basic theme done by @swebsheet. Still needs:
- [x] quality check
- [x] google analytics code: UA-57374177-1
- [x] banner should link to: http://www.technicalconsortium.org/
- [x] community handle is: 10568/25209
- [x] update item view and item lists to display ILRI subjects

[2015-03-12 14:51] alanorth commented on #68
Items in this community seem to use ILRI subjects.

[2015-03-13 09:17] alanorth commented on #32
Last week we added Country and Region, so I crossed them off the list.

[2015-03-13 10:42] alanorth commented on #34
Looks like there are two solutions to these two separate problems:
- use XML includes to include sub files: http://xml.silmaril.ie/includes.html
- use controlled vocabularies and hierarchies, then adapt XMLUI / Discovery to use them: https://wiki.duraspace.org/display/DSDOC4x/Discovery#Discovery-Hierarchical%28taxonomiesbased%29sidebarfacets

The second option doesn't cover all the UI use cases, b

[2015-03-14 07:51] alanorth commented on #64
Hidden on DSpace Test as of this week. Still waiting on feedback.

[2015-03-14 07:56] alanorth commented on #34
Option one works! From `input-forms.xml`:

[code]

And then in `cg-maps.xml` we just paste the content we want to include.

[2015-03-14 08:16] alanorth opened #69 "Switch to controlled vocabularies"
During research for #34 I found that controlled vocabularies allow you to split up `input-forms.xml` by keeping ILRI subjects, for example, in a separate file. The side effect is that this functionality implies a hierarchical taxonomy, like `ILRI::Subjects::AGRICULTURE` and is stored / displayed in the user interface as such! That requires us to change a lot of the places where we are printing / a

[2015-03-17 08:56] alanorth commented on #58
We've just realized that these items look fine in Firefox, but Chrome displays like the screenshot above. Need to investigate why the text doesn't wrap there!

[2015-03-17 09:38] alanorth commented on #58
After a bit of tweaking, the following CSS in `style.css` fixes it in Chrome:

[code]

Basically, unless we use `fixed-layout` on the table, we can't set widths. Once we set the widths then we add the wrapping on word breaks. Arguably looks better in Firefox too.

![selection_010](https://cloud.githubusercontent.com/assets/191754/6684439/758284d8-cca2-11e4-930c-bac2df4e4345.png)

[2015-03-20 13:17] #58 closed, assigned to alanorth

[2015-03-21 13:00] alanorth opened #71 "Livestock and Fish theme is displaying the wrong subject focus in item lists"
In the Livestock and Fish XMLUI community item lists display "Subject Focus" with the crpsubject instead of ilrisubject.

[2015-03-21 13:06] #71 closed, assigned to alanorth

[2015-03-21 13:13] alanorth opened #72 "Migrate old DC terms to new CG ones"
Some of our older custom metadata fields are living in the DC namespace, which is ugly, confusing, and just makes me lose sleep at night. For example:
- ILRI subject: `dc.isubject.ilrisubject`
- CRP subject: `dc.crsubject.crpsubject`

We learned to behave better, and started prefixing custom fields with "cg", for example:
- CIAT subject: `cg.subject.ciat`
- CIP subject: `cg.subject.cip`

We should

[2015-03-21 13:53] alanorth commented on #67
Made a few tweaks to theme colors to match their website more (removed borders and updated bottom border of headings). Looks better now, but will need some tweaks to item lists (which subjects do we want to display?).

[2015-03-21 13:53] #67 closed, assigned to alanorth

[2015-03-21 13:55] alanorth commented on #68
Looks good, but not sure if we actually want to display ILRI subjects in list and item displays (not sure where this project belongs). So closing for now until someone makes some noise about it.

[2015-03-21 13:55] #68 closed, assigned to alanorth

[2015-03-21 19:18] alanorth opened #73 "Certain metadata fields aren't controlled by input-forms.xml"
For example, ICARDA's `cg.subject.icarda` has only been populated by batch import and doesn't have a corresponding `value-pairs` entry in the input forms. This means we can't use it for Listings and Reports (and probably other things!), and there are probably other places where this causes ill effects.

Other examples might be: `cg.subject.cip` and `cg.subject.drylands`...

[2015-03-21 19:27] alanorth commented on #48
Update to above comment: Atmire's Listing and Reports module seems to only require the Lucene search indexes (not browse). This at least makes it half as dependent on Lucene in reality...

[2015-03-22 13:45] alanorth opened #74 "Listings and Reports prints in browser instead of downloading"
When using Listings and Reports to generate a bibliography, instead of downloading the results as a PDF / PS / RTF, it prints in the browser window.  According to Chrome dev tools the content type is `text/plain`... but it should be `application/pdf` for PDF at least.

![dspacetest cgiar org-jspui-listings-and-reports-listings-and-reports-export pdf - google chrome_015](https://cloud.githubusercon

[2015-03-22 13:51] alanorth commented on #74
nginx is definitely configured correctly, `/etc/nginx/mime.types`:

[code]

And, come to think of it, regular PDF bitstreams work fine. So right now it is only happening in JSPUI.

[2015-03-22 15:08] alanorth commented on #59
Note: if we start using IPv6 then we have to manage the IPv6 firewall rules... need to investigate and integrate into our Ansible playbooks.

[2015-03-24 14:54] alanorth commented on #74
Ok, tested again in Firefox on Linux on DSpace Test and CGSpace and I actually managed to download a PDF. Not sure what's wrong with Chrome here.

[2015-03-25 14:24] alanorth commented on #74
Also works in Firefox on Mac. Not sure what's up with Chrome but at least Listings and Reports _does_ work. Closing issue.

[2015-03-25 14:24] #74 closed, assigned to nobody

[2015-03-25 15:44] alanorth opened #78 "Metadata fields with long lines spill into other content in Chrome in XMLUI"
Related to #58 for CIAT, but now I've found some items in ILRI's theme which do this too. For example: https://cgspace.cgiar.org/handle/10568/59787.

We should probably just apply this across all XMLUI themes as it fixes the bug in Chrome and gives more proportionate space to the columns (20% / 80%).

[2015-04-17 09:48] alanorth opened #82 "Test DSpace 5.x"
At the planning meeting in December we discussed the post-4.x roadmap. We agreed we'd try to start testing DSpace 5.x in March and hopefully deploy in June. No testing has happened yet.

We need to:
- Create a `5_x-dev` branch based on upstream's [5_x](https://github.com/DSpace/DSpace/tree/dspace-5_x)
- Rebase our `4_x-prod` on top of `5_x-dev`
- See what breaks!

[2015-04-22 09:32] alanorth commented on #82
DSpace 5.x comes with better PDF thumbnailing (based on GraphicsMagick) and Linked Open Data (RDF)!

[2015-04-23 09:21] alanorth opened #83 "Re-organize Discovery facets"
Change the order of facets on the navigation sidebar to be of order most common to least common. Related to #32 for adding more Discovery facets.
- Authors
- Author affiliations
- Date
- Output types
- CRPs
- Regions
- Countries
- "AGROVOC" subjects
- Myriad of centre specific subjects in alphabetical order
- Status

We want to keep the same order in the homepage and the main Discovery config.

[2015-04-23 10:03] alanorth opened #84 "Move "My Account" to top of navigation sidebar"
We are going to be adding lots of new facets to the sidebar and the login box is nearly at the bottom, so let's just stick it at the top.

See #64 for location of sidebar config.

[2015-04-23 10:06] alanorth opened #85 "Re-word login page text to simplify wording"
Remove nonsense of LDAP and just say "CGIAR users" or something. The string to translate is in `dspace/modules/xmlui/src/main/webapp/i18n/messages.xml`.

[2015-04-23 11:51] alanorth opened #86 "Enable Altmetrics integration"
Allows you to see things like tweets, news articles, etc about your items. See it in action on the sidebar here:
- https://darchive.mblwhoilibrary.org/handle/1912/6688

Necessary code merged in DSpace 5.0.

[2015-04-23 16:01] alanorth opened #87 "Add Journal Title to Content and Usage Analysis options"
Need to add a new search filter for `dc.title.jtitle` in the Discovery config, `dspace/spring/api/discovery.xml` and then add it to the CUA config: `dspace/modules/atmire-cua.cfg`.

Unfortunately we'll need to re-index Solr after this because of adding a new search filter.

[2015-04-24 19:33] alanorth opened #88 "Migrate to single, unified submission template"
We want to clean up and consolidate the input forms so they are simpler and we don't have 10+ separate input forms with duplicate metadata fields.

There is a rough pull request in #81 which works, but needs one last look to clean up some typos ("IPASTORAL").

[2015-04-27 07:01] alanorth opened #89 "Remove manually generated thumbnails"
Since DSpace 4.0 the automatically generated thumbnails are much better quality than the manual ones we had been creating. For items where there is an auto-generated thumbnail we should remove the manual ones.

[2015-04-27 12:22] alanorth commented on #32
Added all current center subjects to sidebar facets!

[2015-04-29 16:21] alanorth opened #94 "What happens when Handle increases beyond 99999?"
We're somewhere near 50,000 right now... and importing stuff like crazy. Someone brought up a question about what happens when we reach 99999, and I didn't know the answer. I'll have to ask the DSpace Test mailing list.

[2015-04-29 16:26] alanorth opened #95 "Recent submissions on homepage"
Bring back the recent submissions on the homepage. They were disabled a few months ago because it was kinda messy, but it's the only place where you can see all CG centers working together, so we want to show the latest from the entire CGSpace.

It should be somewhere in `dspace/config/spring/api/discovery.xml` (look in git history for that file, you'll find it).

[2015-05-07 07:39] alanorth commented on #94
Someone on the DSpace Tech mailing list pointed out that Cambridge's DSpace has 200,000+ items right now:

https://www.repository.cam.ac.uk/browse?type=title

So it appears we're safe until 999,999 probably. ;)

[2015-05-07 07:39] #94 closed, assigned to alanorth

[2015-05-13 12:10] alanorth opened #96 "Remove old URLs from Google, Bing, etc."
Our current nginx configuration bends over backwards to serve https://dspace.ilri.org and https://mahider.ilri.org.

We only need to handle those links for as long as they keep coming, so should actually be pro-active and de-register links containing those domains from search indexes (ie in Google Webmaster tools).

[2015-05-14 21:00] alanorth commented on #96
Verified as an owner of dspace.ilri.org and mahider.ilri.org and submitted a change of address request for cgspace.cgiar.org. Currently the old URLs have nearly 10,000 links in Google's index!

![screen shot 2015-05-14 at 23 56 15](https://cloud.githubusercontent.com/assets/191754/7641866/361c9a74-fa95-11e4-926f-7c8c5773a995.png)

This is great because the handles are the same, but the domain name

[2015-05-19 13:34] alanorth opened #98 "OpenSearch behaving strangely"
We enabled it in #29 for crpsubject `LIVESTOCK+AND+FISH`, and it seemed to work... but it never worked for other CRPs, and the RSS feed seemed to stop updating eventually. Also, sometimes there are results in the RSS which _shouldn't_ match!

The configuration for the `sort_by` parameter in `dspace.cfg` is currently:

[code]

Need to double check:
- Indexes for these sort types (Lucene? Solr? Cron

[2015-05-19 14:22] alanorth commented on #82
I have a feeling rebasing is going to be ugly (mostly because of `input-forms.xml` but also because we cherry-picked some changes from 5.x for Solr.

I suggest we just copy all the changes from `4_x-prod` into a new `5_x-dev` checkout when we finally move to 5.x. Then we maintain that for the entire 5.x life cycle. That's better than re-living the horror of all of our ugly git past every time we r

[2015-05-20 08:29] alanorth commented on #96
Still waiting for these URLs to disappear. `inurl:dspace.ilri.org` shows 5,300 results right now.

Maybe I should also add the `X-Robots-Tag: none` HTTP Header...

[2015-05-20 09:54] alanorth commented on #96
Added to nginx vhost template: https://github.com/ilri/rmg-ansible-public/commit/15a2bd1f76be5d1dc28f1ec292d7e3126f500ac3

[2015-05-21 08:04] alanorth opened #99 "Update CIAT banner"
New banner for CIAT community.

[2015-05-21 08:11] alanorth commented on #99
New banner in https://github.com/alanorth/DSpace/commit/dfb020719242e2837c5c126859fdf04695d5e9cf

[2015-05-21 08:36] #99 closed, assigned to nobody

[2015-05-21 08:53] alanorth commented on #85
Code is in https://github.com/alanorth/DSpace/commit/b4c552fc56a4a1201af45b5b54bd2d731f98d2cb

[2015-05-21 08:56] alanorth commented on #87
Code is in branch https://github.com/alanorth/DSpace/tree/4_x-dev-jtitle

[2015-05-21 08:57] alanorth commented on #84
Code is in https://github.com/alanorth/DSpace/commit/dae2e77f4ce654b8c41cddf90de9b5d8a0efea86

[2015-05-21 08:58] #84 closed, assigned to alanorth

[2015-05-21 08:58] #85 closed, assigned to alanorth

[2015-05-21 09:01] alanorth commented on #83
Peter approved this. Already merged to 4_x-dev. Closing.

[2015-05-21 09:01] #83 closed, assigned to nobody

[2015-05-21 09:03] alanorth commented on #32
Everything except "AGRIS keywords" is added, but that's just a change in title, and we'll come back to that later.

[2015-05-21 09:03] #32 closed, assigned to alanorth

[2015-05-21 09:06] alanorth opened #100 "Update Technical Consortium theme to use ILRI subjects"
Item lists and displays should show ILRI subjects. Related to #68.

Code is in: https://github.com/alanorth/DSpace/tree/4_x-dev-tc

[2015-05-21 09:07] alanorth commented on #100
Already working on DSpace Test. Will go to production with the next re-deployment on 2015-05-25.

[2015-05-21 09:07] #100 closed, assigned to alanorth

[2015-05-21 09:33] alanorth commented on #82
We definitely need to pay attention to the following files:
- [x] dspace/config/dspace.cfg
- [x] dspace/config/input-forms.xml
- [x] dspace/config/xmlui.xconf
- [x] dspace/config/spring/api/discovery.xml
- [x] dspace/modules/xmlui/src/main/webapp/i18n/messages.xml
- [x] dspace/config/modules/
- [x] build.properties

[2015-05-21 15:46] alanorth commented on #78
Appended the fixed CSS to all themes with a quick shell script:

[code]

Code pushed and waiting for merge.

[2015-05-22 07:13] alanorth commented on #78
**Old:**
![selection_039](https://cloud.githubusercontent.com/assets/191754/7765790/c1de5a0e-006a-11e5-95d3-f4c93c0632df.png)

**New:**
![selection_038](https://cloud.githubusercontent.com/assets/191754/7765782/b141e4a4-006a-11e5-9831-255fa21073b1.png)

[2015-05-22 13:02] #78 closed, assigned to alanorth

[2015-05-26 14:48] #88 closed, assigned to alanorth

[2015-05-26 16:14] #95 closed, assigned to alanorth

[2015-05-26 16:15] #87 closed, assigned to alanorth

[2015-05-26 16:41] alanorth opened #101 "Add XMLUI strings for SimpleSearch filters"
New discovery search filters need SimpleSearch XMLUI strings:

https://cgspace.cgiar.org/discover

[2015-05-28 15:22] alanorth commented on #59
Added IPv6 listeners to the nginx vhost template, IPv6 firewall rules, and an AAAA record for DSpace Test:

[code]

Now need to check to see if DSpace has support for IPv6 in the GeoIP module, for example.

[2015-05-29 07:31] alanorth opened #102 "Add XMLUI strings for AbstractSearch headers"
Add XMLUI strings for new metadata types, see: https://cgspace.cgiar.org/search-filter?field=ciat

[2015-06-05 07:14] alanorth commented on #63
Testing with base-search again, we still fail this same check:

![oval-validate](https://cloud.githubusercontent.com/assets/191754/8001040/743ab3a0-0b6a-11e5-8185-b521a17c3f7e.png)

According to the discussion in [DS-2542](https://jira.duraspace.org/browse/DS-2542) it looks like the problem is in DSpace 4.x - 5.2, with a fix perhaps to be merged in 5.3. DSpace's XOAI module supports `from` and `un

[2015-06-05 13:33] alanorth commented on #102
Fixed in 6a058c5e849c0fce726230610445c9f952dc798e.

![abstractsearch-strings](https://cloud.githubusercontent.com/assets/191754/8006908/86ca21f0-0ba0-11e5-9201-d85beb01b198.png)

[2015-06-05 13:33] #102 closed, assigned to alanorth

[2015-06-05 13:34] alanorth commented on #101
Fixed in da6639a194c2be0d93ce956e03f3f8d6a81b0567.

[2015-06-05 13:34] #101 closed, assigned to nobody

[2015-06-10 09:20] alanorth commented on #59
I can see requests in the DSpace Test activity log from `::1`... hmmm.

[2015-06-10 09:43] alanorth opened #105 "DSpace 4.x configuration options"
After perusing the dspace-tech mailing list I was made aware of some new-ish configuration options that we should investigate:

Community list:
- xmlui.community-list.render.full = false
- xmlui.community-list.cache = 12 hours

Performance:
- ~~xmlui.theme.enableConcatenation = true~~
- ~~xmlui.theme.enableMinification = true~~

Security:
- ~~xmlui.force.ssl = true~~

Usability:
- xmlui.controlpan

[2015-06-10 17:10] alanorth opened #106 "Add cg.species.breed to metadata"
We want to use `cg.species.breed` to replace `cg.animal.species`. At least the following changes need to happen:
- [x] updating the metadata registry (and removing the plural `cg.species.breeds`)
- [x] updating XMLUI themes (item display, item list): #109
- [x] replacing `cg.species.breeds` with `cg.species.breed` to correct initial upload of data with plural noun
- [x] add XMLUI strings
- [x] re-

[2015-06-10 17:27] alanorth commented on #105
Heh, one of these options is causing an error:

[code]

I suspect the concatenation or minification options.

[2015-06-11 08:41] alanorth opened #107 "Enable concatenation of theme JS and CSS"
Each XMLUI theme uses 5-10 JavaScript and CSS files, each of which has to be requested separately by the client. DSpace can optionally concatenate and minify these files, allowing the client to effectively make less requests.

The following options enable this:
- xmlui.theme.enableConcatenation = true
- xmlui.theme.enableMinification = true

Need to evaluate if there is a benefit to this, as we cu

[2015-06-11 08:46] alanorth commented on #107
If we turn off nginx's static serving of these Passing these requests to Tomcat ff then DSpace throws HTTP 500 errors:

[code]

Presumably this is the concatenation at work, so it seems there is a misconfiguration in DSpace. I need to try the minification without concatenation.

[2015-06-11 08:48] alanorth commented on #105
Created a separate issue for the concatenation and minification (#107).

[2015-06-11 08:49] alanorth commented on #105
Turns out `xmlui.force.ssl = true` was causing the HTTP 500 above. Anyways, we force SSL via nginx so I don't really care.

[2015-06-11 08:57] alanorth commented on #107
Minification using `xmlui.theme.enableMinification = true` doesn't seem to work either. CSS files are still fully formatted, contain comments, etc. This is more of a hassle than anything really, nginx gzip is a good enough compromise.

[2015-06-11 08:57] #107 closed, assigned to nobody

[2015-06-13 07:41] alanorth commented on #48
Clarification: after a discussion on the dspace-tech mailing list it seems "Browse by" does in fact use Discovery, so the reason to deprecate it is only for aesthetics (long sidebar #64) and usability (lack of pagination options).

Atmire's Listings and Reports still uses Lucene though, so we need to have them plan an upgrade.

[2015-06-17 06:23] alanorth opened #108 "Limit Discovery facets to 5 items"
It seems the default is 10 items, but perhaps 5 would be better as we have many facets, each displaying 5+ top items. See the author affiliations below:

![screen shot 2015-06-17 at 09 21 52](https://cloud.githubusercontent.com/assets/191754/8200787/72f8f6ca-14d2-11e5-8fdc-68e25b3c1059.png)

I assume this is done in `dspace/config/spring/api/discovery.xml`

[2015-06-18 11:56] alanorth commented on #69
One use of this is to be able to get [AGROVOC controlled vocabulary](https://aims-fao.atlassian.net/wiki/display/AGV/Releases) as a drop down list so people could choose from a list of vocabs. AGROVOC does periodic releases that we could process and convert to DSpace's XML value pairs... problems with this include:
- AGROVOC is 22 languages and ~30,000 terms each language!
- The latest release is

[2015-06-26 14:46] alanorth commented on #98
Peter let me know that today his `LIVESTOCK+AND+FISH` feed got updated in Feedburner, and I haven't changed anything...

[2015-06-28 20:22] alanorth commented on #108
Each search filter has an accompanying `facetLimit`:

[code]

[2015-06-29 07:42] alanorth commented on #64
Perhaps we can just trim down the list of "Browse by" entries? People clearly use this functionality to explore collection contents, but maybe we don't need all of them.

We could probably remove a handful of `webui.browse.index.` from `dspace/config/dspace.cfg`.

[2015-06-29 07:43] alanorth commented on #108
I think for now I'll try to trim down all the facets to 5 items with the exception of the Author-related ones.

[2015-06-29 11:49] alanorth commented on #108
Actually, I'm going to reduce them all to 5. Let's get feedback on this first. In the end you can always click "more" to see the rest...

[2015-06-29 15:03] alanorth commented on #108
Initial feedback is that we need to keep ALL the CGIAR Research Programs displayed, and I think they also want keep long listings for all the others as well... trying to get clarification.
- CRP -> revert to previous limit of 20
- Regions, countries, output types, and authors -> 10
- Centre-specific subjects -> 5

[2015-07-11 08:51] alanorth opened #114 "Adjust Recently Added on homepage from 5 -> 10 items"
Need to edit the bean for the `homepageConfiguration` in `dspace/config/spring/api/discovery.xml`. Related to #108 to adjust the sidebar Discovery facets.

[2015-07-11 09:21] #114 closed, assigned to alanorth

[2015-07-11 09:24] #108 closed, assigned to alanorth

[2015-07-13 05:58] alanorth commented on #86
We should be able to just add [their code](http://api.altmetric.com/embeds.html) to our XMLUI item displays. It adds JavaScript, but we also need to be able to programmatically get the handle id for the current item so we can add a div with the appropriate attributes, ie:

[code]

[2015-07-13 06:02] alanorth commented on #86
Actually, it seems their code falls back to reading the meta tags of the page to find a handle link:

... and DSpace does generate meta tags, for example:

[code]

[2015-07-13 15:06] alanorth commented on #86
So this isn't as simple as pasting in the two lines of code. The JavaScript is trivial to add to the `page-structure.xsl` but I can't figure out how to get the divs to print, let alone dynamically fetch the handle URI for the current item!

[2015-07-14 09:01] alanorth commented on #106
Tested and working, will be deployed on production soon.

[2015-07-14 09:01] #106 closed, assigned to nobody

[2015-07-14 09:05] alanorth commented on #105
Also, the `xmlui.controlpanel.activity.ipheader = X-Forward-For` option seems to already be activated, as I see real IPs in the control panel.

I guess we don't need any of these options, so I'll close this.

[2015-07-14 09:05] #105 closed, assigned to nobody

[2015-07-16 09:25] alanorth opened #120 "Add corporate author to XMLUI displays"
The standard author field is `dc.contributor.author` but often times this ends up being the name of the institute rather than an actual person(s). We want to start using `dc.contributor.corporate` for those cases instead.

XMLUI item lists and displays need to be updated, as well as perhaps re-configuring some sidebar facets, CUA config, browse indexes, etc, and probably some batch corrections of

[2015-07-17 09:16] alanorth opened #121 "Add CCAFS Unique Project Tag"
CCAFS is redesigning their corporate website and would like to make use of a new metadata field to show outputs corresponding to certain projects. They need a new field for this, which will be added retroactively to their existing items, as well as all future items. We've decided on using `cg.identifier.ccafsproject`. There will be one input dropdown with about 60 projects initially.

We need to:

[2015-07-23 06:45] alanorth commented on #121
Added the project tags to the input forms in: https://github.com/alanorth/DSpace/commit/fa9f5d644a7c85b2850b01c21aac2680091ffd8b

[2015-07-28 09:58] alanorth opened #122 "Add cg.link.reference to CTA item display"
Many CTA items are Open Access and their metadata includes a link to the resource in `cg.link.reference`, but we don't print that field in the item view. We simply need to add this to the CTA XMLUI's item view.

[2015-07-29 08:09] alanorth opened #123 "Adjust fonts and item lists in some XMLUI themes"
Tweak fonts and CSS in a few themes to be more consistent with other themes and make text stop wrapping in item list columns (there is plenty of space to have wider columns). For now it's just a few themes as I catch them:
- Bioversity
- CIFOR
- CPWF
- Drylands
- ILRI

[2015-07-29 08:11] alanorth commented on #123
After simple tweaks that we've used on other themes the display is much better:

![selection_053](https://cloud.githubusercontent.com/assets/191754/8952721/4a96fec6-35e2-11e5-8cbe-ecc4e3e00c0e.png)

Similar to these commits for FeedTheFuture: 447ad181402d628924d95733749855bbc0d4bef5 and 0772ccc8ab831c65429269719b5fb62d97d10609

[2015-07-29 09:49] alanorth commented on #122
Added in fcd10449601a5758db4863e75c5f8c3046e59912. Making pull request now.

![selection_054](https://cloud.githubusercontent.com/assets/191754/8954708/2029dc86-35f0-11e5-8225-edcc8cdda603.png)

[2015-07-29 09:52] alanorth commented on #122
Merged in #124.

[2015-07-29 09:52] #122 closed, assigned to nobody

[2015-07-29 10:23] alanorth commented on #123
Merged fixes in #125.

[2015-07-29 10:23] #123 closed, assigned to nobody

[2015-08-02 15:41] alanorth commented on #86
Ok, this is hacked and stupid, but it works. In `item-view.xsl`:

[code]

Then call the template from somewhere. That will load the badge and look for DOIs on the page. I couldn't figure out how to programmatically get the handle. DSpace 5's Altmetric.com badge uses a DOI or a handle, in that order. I am not sure how to get the metadata for the handle, and I'm sick of looking at this for today.

[2015-08-02 17:30] alanorth commented on #69
@swebsheet got a basic version of this working for animal breeds. The configuration is cryptic and undocumented, but and it does work. It seems like a hack though, because it relies on omitting the id and label in the controlled vocabulary. Regardless of all other dspace.cfg settings to ignore hierarchy and unsetting the delimiter, if you have an id or label, it will use "Animal breed::BLACKHEAD S

[2015-08-03 08:06] swebshet commented on #69
changes from message.xml should be taken to rename Subject Categories link

[2015-08-03 08:19] alanorth commented on #69
Latest version of this working code is here: https://github.com/alanorth/DSpace/commit/466563c51256e81b4e8e42e57d778a3233cce978

Also, I don't think we need to rename the "Subject Categories" link—I'd rather remove it entirely, but I don't know how. Anyways, it's not as critical, as it provides the same functionality.

[2015-08-03 08:55] swebshet commented on #69
Also `item-view.xsl`:

[code]

[2015-08-03 08:59] alanorth commented on #69
That was already added last week, as it's already working in ANGR, yes?

On Mon, Aug 3, 2015 at 11:55 AM, swebsheet notifications@github.com wrote:

##

Alan Orth
alan.orth@gmail.com
https://alaninkenya.org
https://mjanja.ch
"In heaven all the interesting people are missing." -Friedrich Nietzsche
GPG public key ID: 0x8cb0d0acb5cd81ec209c6cdfbd1a0e09c2f836c0

[2015-08-06 13:38] alanorth opened #126 "Get dspace.cfg ready for DSpace 5.x"
There are many new configuration options to check and enable in DSpace 5.x, for example `filter.plugins` for ImageMagick (also requires imagemagick on the server). Adding this issue to track such options...

[2015-08-06 16:08] alanorth commented on #126
Need to look into:
- ~~`filter.plugins`~~
- ~~`websvc.opensearch` (is it simple-search or discover, like in DSpace 4?)~~
- ~~a few discrepancies in `webui.itemdisplay.default`...~~

[2015-08-07 09:13] alanorth commented on #126
OpenSearch support is the same as DSpace 4, that if you're using XMLUI with Discovery you need to change the defaults to:

[code]

[2015-08-07 09:22] alanorth commented on #126
ImageMagick thumbnails require the installation of `imagemagick` and `ghostscript` on the server, and we should remember to look up the options for "flatten" in the DSpace config.
- Reference: https://wiki.duraspace.org/display/DSDOC5x/ImageMagick+Media+Filters

[2015-08-07 09:30] alanorth commented on #126
Still need to test the `webui.itemdisplay.default` as our list is big and ugly and I suspect this is a holdover in our config from JSPUI days...

[2015-08-07 09:45] alanorth opened #127 "Add support for Atmire modules in DSpace 5"
Initially I had tried to port the Atmire changes from our 4_x branch to our 5_x branch manually, but Atmire introduced new versions of the modules as well as installation documentation so I started on a clean CGSpace 5_x base.

[2015-08-10 07:06] alanorth commented on #127
This is actually quite tricky because there are a lot of changes Atmire's modules make, but then I am also accounting for DSpace 4 -> 5, where DSpace itself changed semantics on things. I think I should just get the `5_x-dev` branch up and running without Atmire stuff, and then ask Atmire to do clean installs of their modules against that branch.

I'll have to remove the Atmire stuff from the XMLU

[2015-08-10 16:45] alanorth commented on #82
I've got a very alpha version of CGSpace running on DSpace 5. Right now I'm using the default Mirage theme because our custom themes have an error with dri2xhtml-alt. With the Mirage the following appear to be working:
- LDAP login
- Discovery sidebar facets
- Browse by

[2015-08-11 06:50] alanorth opened #128 "Test ImageMagick PDF thumbnails vs Xpdf"
DSpace 5 introduced a new thumbnail system backed by ImageMagick. I want to compare these new thumbnails to the ones generated by DSpace 4's Xpdf for image quality, text crispness, and to see how it behaves with some quirks in PDFs, etc. All thumbnails are currently at 300x300px, but if the quality improves we could bump that up.

 Explicitly testing ImageMagick thumbnails for PDFs only, using:

[

[2015-08-11 07:01] alanorth commented on #128
## Image quality

For PDFs with nice images, such as [Estimating the mitigation co-benefits from adaptation measures](http://hdl.handle.net/10568/66572).

DSpace 4 vs DSpace 5:

![crispness-dspace4](https://cloud.githubusercontent.com/assets/191754/9191981/ab32ab04-400f-11e5-8676-ea46a69c57c6.jpg) ![crispness-dspace5](https://cloud.githubusercontent.com/assets/191754/9191993/ba7daf0a-400f-11e5-928

[2015-08-11 07:08] alanorth commented on #128
## Text crispness

For PDFs that have a lot of text on the page, like [Power dynamics and representation in innovation platforms](http://hdl.handle.net/10568/34166).

DSpace 4 vs DSpace 5:

![text-dspace4](https://cloud.githubusercontent.com/assets/191754/9192130/b3ddfea6-4010-11e5-85e0-4a6d9e91c4ba.jpg) ![text-dspace5](https://cloud.githubusercontent.com/assets/191754/9192152/e259fb0e-4010-11e5-9

[2015-08-11 07:17] alanorth commented on #128
## Strange thumbnail behavior

For PDFs that create strange thumbnails for some reason, such as [Knowledge and exploitation of small ruminant grading and pricing systems among Somaliland livestock producers](http://hdl.handle.net/10568/67042).

DSpace 4 vs DSpace 5:

![front-back-dspace4](https://cloud.githubusercontent.com/assets/191754/9192234/f3e3bd28-4011-11e5-88ab-9a3f1ee67a3f.jpg) ![front-ba

[2015-08-11 11:00] alanorth opened #129 "Add XMLUI theme for IITA"
Add DSpace 4 XMLUI theme for IITA. Basic theme done by @swebsheet. Still needs:
- [ ] quality check
- [ ] google analytics code
- [ ] banner should link to: http://www.iita.org/
- [ ] community needs to be created on CGSpace
- [ ] update item view and item lists to display IITA subjects (cg.subject.iita)
- [ ] add `cg.subject.iita` to Discovery facets (and re-index Solr)
- [ ] add `cg.subject.iita

[2015-08-12 09:31] alanorth commented on #127
Atmire has provided new versions of the CUA and L&R modules as well as install documentation, so I have moved all the work from this branch to the `5_x-atmire-old` branch so I can start from scratch. The new modules no longer require Lucene.

[2015-08-12 09:37] alanorth commented on #48
Update: As of DSpace 5, Atmire has released a new Listings and Reports module that doesn't rely on Lucene. The "Browse by" functionality doesn't use Lucene anyways, so we only need to evaluate whether Discovery works well enough for our use cases...

[2015-08-12 09:37] alanorth opened #130 "Make 5_x-prod the default branch on GitHub"
Issue so I remember to switch the default branch in GitHub.

[2015-08-19 21:01] alanorth opened #132 "Use dc.type instead of dc.type.output"
Seems we introduced `dc.type.output`, but there is already a `dc.type` in the [Dublin Core Metadata Set](http://www.metatags.org/dublin_core_metadata_element_set). I would prefer to stick to as many core elements as we can.

[2015-08-19 21:27] alanorth commented on #132
I just checked to see how many of each we have, and it's very interesting:

[code]

There are 11,000 items using `dc.type` and 36,000 using `dc.type.output`. Unless there is a good reason why we invented our own, we definitely need to switch. Also, we are probably not capturing these in our stats and Discovery sidebar facets...

[2015-08-22 11:21] alanorth commented on #132
We will also need to fix the qualifier we're using in `input-forms.xml`. We use this:

[code]

Whereas vanilla DSpace uses:

[code]

[2015-09-23 14:18] alanorth commented on #121
Merged in https://github.com/ilri/DSpace/commit/5272132e3a02087da617232122491a80a5fe63db.

[2015-09-23 14:18] #121 closed, assigned to alanorth

[2015-09-26 23:47] alanorth commented on #129
Postponing until DSpace 5, will create a new issue.

[2015-09-26 23:47] #129 closed, assigned to nobody

[2015-09-26 23:48] alanorth commented on #82
Initial DSpace 5 testing is done.

[2015-09-26 23:48] #82 closed, assigned to alanorth

[2015-09-28 19:13] alanorth commented on #127
Atmire will finish the integration.

[2015-09-28 19:13] #127 closed, assigned to nobody

[2015-10-02 08:12] alanorth commented on #98
Need to check if this is still the case in DSpace 5.x.

[2015-10-02 08:17] alanorth commented on #96
Currently there are 1,600 items in Google results for `dspace.ilri.org`.

![selection_018](https://cloud.githubusercontent.com/assets/191754/10242115/195c19ac-68f7-11e5-9390-0828a4081f2a.png)

I need to re-visit the Google webmaster tools to see if there's anything else I can do to remove these.

[2015-10-02 08:26] alanorth commented on #31
Irrelevant since we're moving to a completely new theme in DSpace 5.

[2015-10-02 08:26] #31 closed, assigned to alanorth

[2015-10-02 08:35] alanorth commented on #96
The redirect to cgspace.cgiar.org has been completed since May, so I'm not sure why these links are still in the index. I have added the CGSpace sitemap to dspace.ilri.org's console to see if Google will learn that these have moved.

Currently requests to dspace.ilri.org are handled like this:

[code]

[2015-10-02 17:41] alanorth commented on #38
This config is working on a test server:

[code]

But it doesn't work on production. After some quick tests it _appears_ that all vhosts have to use stapling, or you have to disable the ones that aren't using it. Another variable is that production is on nginx 1.8.0 and test is on 1.9.5, but I need to do more tests to see if it behaves the same way in both.

[2015-10-13 13:15] alanorth opened #135 "Enable RDF application"
DSpace 5 ships with linked open data support and we need to make sure the application is loaded in Tomcat.

[2015-10-13 13:39] alanorth commented on #135
Looks like this requires [additional configuration](https://wiki.duraspace.org/display/DSDOC5x/Linked+%28Open%29+Data#Linked%28Open%29Data-Linked%28Open%29DataSupportwithinDSpace): installing a triple store (Fuseki) and possibly opening / forwarding some TCP ports.

We will have to look at this on its own after launch.

[2015-10-14 08:06] #135 closed, assigned to alanorth

[2015-10-26 17:13] #128 closed, assigned to nobody

[2015-10-26 17:16] alanorth opened #138 "Add DOI and Handle to Listings and Reports config"
Some users want to be able to add DOI and Handle URLs to Listings and Reports bibliographies. They are the following metadata values:
- DOI is `dc.identifier.doi`
- Handle is `dc.identifier.uri`

We need to add them in `dspace/config/modules/atmire-listings-and-reports.cfg`.

[2015-10-26 17:40] alanorth commented on #86
Built in in DSpace 5, and Atmire did a slicker integration in the new CGIAR theme (based on Mirage2) anyways.

[2015-10-26 17:40] #86 closed, assigned to nobody

[2015-10-28 14:54] alanorth commented on #138
Added in dd4e801807955bb43ebe57d2e45f5372c8635524.

![screenshot from 2015-10-28 17-52-36](https://cloud.githubusercontent.com/assets/191754/10792204/c6834bdc-7d9c-11e5-9448-b75e31e554f2.png)

[2015-10-28 14:54] #138 closed, assigned to nobody

[2015-10-29 08:43] alanorth opened #141 "Enable flattening of images during PDF thumbnailing"
[DSpace 5.2 started flattening images](https://wiki.duraspace.org/display/DSDOC5x/ImageMagick+Media+Filters#ImageMagickMediaFilters-Flatten) during PDF thumbnailing to fix issues with transparent areas turning black. We are moving to DSpace 5.1, so we will either have to wait for the next round of upgrades or backport the fix, as I've already seen some PDFs which will have this problem, for exampl

[2015-10-29 08:44] alanorth commented on #126
Item displays are now ok in our DSpace 5 test branch, as we've got snazzy new Mirage 2 themes there. The only remaining issue is to look into OpenSearch, but I will open a new issue for that.

[2015-10-29 08:44] #126 closed, assigned to nobody

[2015-11-01 13:13] alanorth opened #142 "Confirm Google Analytics IDs For Communities"
We need to make sure to port all the Google Analytics IDs from each community in our [DSpace 4](https://github.com/ilri/DSpace/tree/4_x-prod/dspace/modules/xmlui/src/main/webapp/themes) XMLUI. The DSpace 5 themes aren't ready, so this is just a reminder and to help me organize.
- [x] AfricaRising: UA-34923290-1
- [x] AgriFood: UA-36713823-1
- [x] AnGR: UA-10691096-8 (same as CGIAR)
- [x] Bioversit

[2015-11-02 09:21] alanorth commented on #142
I've followed up with Bioversity, CCAFS, CIAT, CTA, and WLE to see which codes we should be using.

[2015-11-02 12:44] alanorth commented on #142
It looks like UA-17242976-1 is indeed CCAFS' ID, and the others just inherited it when we copied the themes as a base. For now we should revert Bioversity, CIAT, CTA, and WLE to use ILRI's ID: UA-10691096-8

[2015-11-02 14:27] alanorth commented on #142
Add new ID for CTA and Bioversity.

[2015-11-03 15:26] alanorth commented on #142
Add new ID for WLE.

[2015-11-03 19:52] alanorth commented on #142
Add new ID for CIAT, which is actually an older one and is in use on the CIP theme. Now I need to ask CIP what we should be using for theirs.

[2015-11-04 05:17] alanorth commented on #142
Add new ID for CIP.

[2015-11-10 10:22] alanorth opened #150 "Add AddThis / social sharing buttons to item view"
This will need to be added to the CGIAR theme's item-view, and then the child themes will inherit it. Sharing options need to use the Handle, aka `dc.identifier.uri`, not the CGSpace URL.

[2015-11-10 14:08] alanorth commented on #142
Minimal themes for communities that need custom tracking IDs was added in 5_x-dev branch with c3fe6d46ab116c2dfbdf0baa762277846a8e82e2.

I decided for now to not create separate themes for each of the communities that are sharing the CGIAR/ILRI tracking ID, as the point of these separate themes right now is solely about the tracking ID, and each new theme adds two minutes to the build time!

[2015-11-10 14:08] #142 closed, assigned to nobody

[2015-11-11 15:04] alanorth commented on #150
I took a quick stab at this using the FontAwesome icons for a few popular social networks.

![selection_042](https://cloud.githubusercontent.com/assets/191754/11094010/6cd53124-889e-11e5-918c-90782750043c.png)

Right now it only shares the item's handle, but we could theoretically get the title and other information and construct more meaningful links for e-mail (with subject) or other parameters

[2015-11-12 06:43] alanorth commented on #150
Need to add Delicious and perhaps Mendeley. Font Awesome has an icon for Delicious but not Mendeley.

[2015-11-12 12:23] alanorth opened #151 "Create DSpace 5-ready XMLUI themes"
Certain communities in [CGSpace](https://cgspace.cgiar.org) need branding, custom Google Analytics tracking IDs, etc, which means we have to give them custom themes. We previously had custom themes for 20+ communities in DSpace ~1.7–4.x, but they were based on the old Mirage theme, and we need to create new ones based on Mirage 2 and the CGIAR reference theme created for us by Atmire.

List of com

[2015-11-13 18:45] alanorth commented on #151
Added basic, minimal Dryland Systems and ICARDA themes (based on their branding guideline documents). Need to double check for artifacts in mobile and statlet charts.

[2015-11-14 10:26] alanorth commented on #151
Added CIAT theme and fixed the parent theme so that it uses primary and secondary brand colors for statlet charts.

[2015-11-14 13:29] alanorth commented on #151
Add theme for CCAFS.

[2015-11-14 21:23] alanorth commented on #151
Add theme for WLE.

[2015-11-14 21:48] alanorth commented on #151
Added basic CTA theme using light and dark greens, but we should probably add a logo eventually once I figure out how to override the images directory (theme-path, context-path, etc?).

[2015-11-15 08:18] alanorth commented on #151
Added a basic CPWF theme using colors taken from their [website](https://waterandfood.org/). There are no branding guidelines for CPWF, and it's not a CRP so we can't use colors from the 2014 CGIAR branding guidelines toolkit.

[2015-11-15 08:38] alanorth commented on #151
Add theme for CRP3.7 (Livestock and Fish) using colors from the CGIAR branding toolkit.

[2015-11-15 09:33] alanorth commented on #151
Added a very basic IWMI theme, mostly based on their one strong brand color (dark blue).

[2015-11-15 12:16] alanorth commented on #151
Add theme for Feed the Future, based on their [website](http://ilssi.tamu.edu/about).

[2015-11-15 17:40] alanorth commented on #151
Add basic IITA theme.

[2015-11-15 17:56] alanorth commented on #151
Add basic CIP theme.

[2015-11-16 18:45] alanorth commented on #151
Add basic Bioversity theme.

[2015-11-17 20:12] alanorth commented on #151
Add basic EADD theme.

[2015-11-18 17:00] alanorth commented on #151
Add themes for LIVES and CIFOR.

[2015-11-19 11:48] alanorth opened #154 "Use brand-primary color for buttons in submission form"
We have meticulously created themes for most of the communities on CGSpace (#115) but we need to theme the buttons that appear during item submission so they match the theme. These appear to be `.btn-success` and `.btn-success.disabled`.

![selection_047](https://cloud.githubusercontent.com/assets/191754/11270036/93010290-8ecc-11e5-8513-5353ed34c1c9.png)

[2015-11-20 13:06] alanorth opened #155 "Add a thin border to thumbnails"
DSpace 5's new thumbnail system produces generally better thumbnails, but removes the thin black border that Xpdf used to generate (see examples in #128). We should play with CSS borders for the thumbnails:

[code]

[2015-11-20 13:28] alanorth commented on #151
I didn't get a chance to make the System-wide Livestock theme, so I'll remove that from this issue and create a separate one.

[2015-11-20 13:30] alanorth opened #156 "Create a DSpace 5 theme for SLP"
I didn't manage to create a DSpace 5-ready theme for CGIAR System-wide Livestock Programme in #151 and we went ahead without it. This is just a reminder for myself to finish that.

[2015-11-20 13:30] #151 closed, assigned to nobody

[2015-11-20 13:31] #150 closed, assigned to alanorth

[2015-11-20 13:32] alanorth commented on #150
We will add Delicious and Mendeley later.

[2015-11-20 13:33] alanorth opened #157 "Tweak social/sharing icons"
In #150 I added a few common social icons for sharing, but we need to add Delicious and Mendeley if possible. Also, we need to make the sharing links open in a new window, and perhaps get the title so share in the tweet intent (will have to do the math and truncate to tweet size).

[2015-11-20 21:35] alanorth commented on #130
Switched default branch.

[2015-11-20 21:35] #130 closed, assigned to nobody

[2015-11-26 09:19] alanorth commented on #157
Someone created Academicons, which has Mendeley and Google Scholar:

https://jpswalsh.github.io/academicons/

[2015-11-26 10:19] alanorth commented on #98
Yep, this still happens in DSpace 5.

[2015-11-26 16:09] alanorth commented on #157
Instructions for using Mendeley sharing URL here:

https://www.mendeley.com/import/information-for-publishers/

[2015-11-27 13:53] alanorth opened #159 "Upgrade FontAwesome to 4.5.0"
New icons (like for Google+) see:

<img width="104" alt="screen shot 2015-11-27 at 15 49 51" src="https://cloud.githubusercontent.com/assets/191754/11442559/fbc91e04-951e-11e5-816f-0302cbace81d.png">
<img width="107" alt="screen shot 2015-11-27 at 15 50 47" src="https://cloud.githubusercontent.com/assets/191754/11442558/fbc5cb28-951e-11e5-87d2-f1e045baa020.png">

[2015-11-27 14:30] alanorth commented on #157
Mendeley icon and sharing works:

<img width="127" alt="screen shot 2015-11-27 at 16 18 37" src="https://cloud.githubusercontent.com/assets/191754/11443056/959fb742-9522-11e5-8c5e-e80e4585ce99.png">

Code in https://github.com/alanorth/DSpace/tree/5_x-sharing-icons. Still need to do Delicious, and set the links to open in new windows.

[2015-12-07 09:27] alanorth opened #160 "Date-based Discovery facets don't show "View More""
Not sure if this is new since DSpace 5. It happens on DSpace Test as well as CGSpace. I should check on demo.dspace.org to see if it's our DSpace 5.1, or perhaps even our Atmire modules.

<img width="274" alt="screen shot 2015-12-07 at 11 27 56" src="https://cloud.githubusercontent.com/assets/191754/11623445/a20323b0-9cd5-11e5-968b-2e4dd9ab96e2.png">

Here I've drilled down in the range 2000–2016

[2015-12-11 10:09] alanorth opened #162 "Increase facet count for Date Issued"
For some reason the Date Issued facet only shows a fixed number of results in the sidebar facet, instead of showing "View More" to show more results. This is probably a bug in DSpace—or a strange design decision—but we need to at least increase the date issued facet count.

For example, drilling into 2010–2016 at the top level of CGSpace:

<img width="274" alt="screen shot 2015-12-07 at 11 27 56"

[2015-12-24 10:37] tsega commented on #29
@alanorth if you haven't figured it out yet, the problem with the query are the `+` signs there. The `crpsubject` should be put in quotes (single or double). Here is an example:

[https://cgspace.cgiar.org/open-search/discover?query=crpsubject:"LIVESTOCK AND FISH"&format=rss&sort_by=2&order=DESC](https://cgspace.cgiar.org/open-search/discover?query=crpsubject:"LIVESTOCK AND FISH"&format=rss&sort_b

[2015-12-28 13:19] alanorth commented on #29
The power of a second pair of eyes! Yes, you're right. The quotes aren't necessary, but indeed, the `+` signs tokenize the parameter string instead of adding a space. The spaces simply needed to be URL encoded as `%20`:

https://cgspace.cgiar.org/open-search/discover?query=crpsubject:LIVESTOCK%20AND%20FISH&format=rss&sort_by=2&order=DESC

Good catch. If it makes you feel better I've lost a few day

[2015-12-28 13:27] alanorth commented on #98
@tsega noticed in #29 that I had been mixing up literal `+` characters and URL encoded spaces `%20`. You can either use quotes and pluses, or URL encode the spaces:
- https://cgspace.cgiar.org/open-search/discover?query=crpsubject:"LIVESTOCK+AND+FISH"&format=rss&sort_by=2&order=DESC
- https://cgspace.cgiar.org/open-search/discover?query=crpsubject:LIVESTOCK%20AND%20FISH&format=rss&sort_by=2&order=

[2015-12-28 13:27] #98 closed, assigned to alanorth

[2016-01-12 20:10] alanorth opened #163 "Add more CCAFS project identifiers"
CCAFS has requested that we add the following new project identifiers:

[code]

We need to add these to `dspace/config/input-forms.xml`.

[2016-01-14 15:50] alanorth commented on #163
Merged and deployed on CGSpace.

[2016-01-14 15:50] #163 closed, assigned to nobody

[2016-01-18 16:35] alanorth commented on #160
This is not a bug, it seems to be a documentation issue. This facet is supposed to be a drill down, and as long as there is not enough space to display all years it will show a range, and apparently the range needs to be at least 10 (we currently have `dateIssued` set to 5).

Closing for now so I can bump up the range in #162.

[2016-01-18 16:35] #160 closed, assigned to nobody

[2016-01-18 16:37] alanorth commented on #162
Not a bug, simply a confusing feature—date-based facets are designed to be drilled down and show a range for years when there isn't enough space to show all years. We have `dateIssued` set to show a maximum of 5 but this is too small because there could be up to ten years in a range (2000–2010), so we need to increase it to 10 (in `discovery.xml`).

[2016-01-19 14:01] alanorth commented on #157
Might as well update FontAwesome here too.

[2016-01-19 14:40] #157 closed, assigned to nobody

[2016-01-19 14:41] alanorth commented on #159
Fixed in #168.

[2016-01-19 14:41] #159 closed, assigned to alanorth

[2016-01-19 14:49] alanorth commented on #162
It works, but you have to make sure to clear the Cocoon cache after deploying, otherwise you won't see the new facet ranges.

<img width="102" alt="screen shot 2016-01-19 at 16 48 29" src="https://cloud.githubusercontent.com/assets/191754/12421817/919f6678-becc-11e5-8af6-75da5c4881b4.png">

[2016-01-20 16:26] alanorth commented on #162
Fixed in #169.

[2016-01-20 16:26] #162 closed, assigned to alanorth

[2016-01-21 12:50] alanorth opened #170 "Atom/RSS feeds not updating meaningfully"
I had set up an If This Then That recipe to post a tweet for every new item in the CGSpace Atom feed, but after two days nothing had been posted. I checked both the Atom and RSS feeds and noticed that both were different (!) and neither had been updated in nearly two days. On a hunch I cleared the Cocoon cache and they both updated on the next refresh.

I'm not sure if this is a Cocoon cache bug b

[2016-01-21 13:21] alanorth commented on #170
Sent a query to the DSpace-tech mailing list asking for clarification on the relationship between the Cocoon cache and the feed cache, and suggesting a more-sane default value for `webui.feed.cache.age`.

[2016-01-21 14:44] alanorth opened #172 "Items with long URLs make the item view ugly when they wrap"
The div showing item links is set to `text-align: justify` and looks ugly when links are long and wrap. For example, this [CIAT item](https://cgspace.cgiar.org/handle/10568/70052):

<img width="573" alt="screen shot 2016-01-21 at 16 41 31" src="https://cloud.githubusercontent.com/assets/191754/12483513/24dcf68e-c05e-11e5-8fac-b7c21cc76be2.png">

At first glance, it appears a simple `text-align: le

[2016-01-21 16:06] #172 closed, assigned to nobody

[2016-01-22 14:45] alanorth opened #174 "Add CIAT subjects to item view sidebar"
We had meant to have all center-specific subjects show on the left sidebar if the current item had them. ILRI subjects (and others) show up for sure, but CIAT (and others) is missing.
- ILRI item: https://cgspace.cgiar.org/handle/10568/70108
- CIAT item: https://cgspace.cgiar.org/handle/10568/70052

The list is configured somewhere in the CGIAR base theme (`0_CGIAR`), so we just need to double che

[2016-01-25 11:55] alanorth commented on #170
Still no word from the dspace-tech mailing list so I'm just going to reduce the time to three hours for CGSpace (patch in pull request #171).

[2016-01-25 11:55] #170 closed, assigned to nobody

[2016-01-29 15:18] alanorth commented on #174
I just had a look and these are in `item-view-DIM-helper.xsl` in the `0_CGIAR` base theme. The following subjects are missing: bioversity, ciat, cta, humidtropics, iita.

[2016-01-29 15:54] alanorth commented on #174
An [example item from CCAFS](https://cgspace.cgiar.org/handle/10568/67062) that includes both CCAFS and Bioversity subjects. First from CGSpace (without patch), only the CCAFS subjects are visible:

<img width="216" alt="screen shot 2016-01-29 at 17 51 06" src="https://cloud.githubusercontent.com/assets/191754/12680219/36ee25ba-c6b1-11e5-9f4f-3629fc63102e.png">

After adding the correct templates

[2016-01-30 16:43] alanorth commented on #174
I fixed a corner case with it failing to print a space, but now I notice that sometimes there is a semicolon at the end (even in the above screenshot), but it's like this on production already and I never noticed. I will merge this now and just look at that as a separate issue later.

[2016-02-15 07:48] #154 closed, assigned to nobody

[2016-02-17 13:15] #174 closed, assigned to nobody

[2016-02-26 13:38] alanorth opened #179 "Error in search with sort parameters"
Potentially a misconfigured Discovery. If a user sorts Discovery search results and then tries to "View More" on the sidebar they get an error:

[code]

Steps to reproduce:
- From homepage, search for anything (like "Orth")
- On search results page, use the cog to select a sort option (like "Title asc")
- After the page refreshes, try to "View More" in the Authors facets

[2016-02-26 14:32] alanorth opened #180 "Add new fields to Listings and Reports and Content and Usage modules"
We need to add add these fields to the Atmire L&R and CUA modules:
- dc.description.version (L&R)
- dc.relation.ispartofseries (L&R)
- dc.publisher (L&R)

[2016-03-08 13:11] alanorth opened #183 "PostgreSQL 9.4 Preparation"
We've been using PostgreSQL 9.3 for about two years now, and should be looking to move to 9.4 soon.

[PostgreSQL 9.4 brings performance benefits](http://blog.pgaddict.com/posts/performance-since-postgresql-7-4-to-9-4-fulltext) but also needs some attention to [huge_page settings in its configuration as well as the system's kernel](http://www.postgresql.org/docs/9.4/static/kernel-resources.html).

[2016-03-08 15:53] alanorth commented on #180
Removing `dc.isijournal` as it seems to already be in both CUA and L&R.

[2016-03-10 14:48] alanorth opened #185 "Overhaul Atmire CUA configuration"
While working on #184 I realized that there are all sorts of problems in the CUA configuration:
- [x] There are two "Submit Date" filters, and one is actually using the "Output Type" field
- [x] A few labels are incorrect (Drylands!)
- [x] ICARDA subject is configured in the XML file, but doesn't show up in the user interface
- Many strings are untranslated (ISI Journal) so you see the string name

[2016-03-10 15:24] alanorth commented on #132
This is still an issue, we have 40,631 items using `dc.type.output` and 11,373 using `dc.type`, and we'll also need to update `discovery.xml`.

[2016-03-11 14:31] alanorth opened #186 "Overhaul XMLUI Discovery config"
During investigations for #180, #185, and #132 I realized that our Discovery configuration is messy and confusing as hell—I'm surprised it works at all! For starters:
- Custom strings are defined in the wrong messages.xml file:
  - They are in: `dspace-xmlui/src/main/resources/aspects/Discovery/i18n/messages.xml`
  - Instead of: `dspace/modules/xmlui/src/main/webapp/i18n/messages.xml`
- We should

[2016-03-15 16:22] alanorth commented on #186
Fixed in #190.

[2016-03-15 16:22] #186 closed, assigned to alanorth

[2016-03-16 10:05] alanorth opened #192 "Migrate to Let's Encrypt for TLS certificates"
We need to migrate to Let's Encrypt's certificate authority for TLS certificates for the following domains:
- cgspace.cgiar.org
- mahider.ilri.org
- dspace.ilri.org

First these need to be activated with Let's Encrypt, then we need to add support to the [infrastructure playbooks](https://github.com/ilri/rmg-ansible-public), both for the nginx vhost templates as well as a cron job to do the certifi

[2016-03-16 12:57] alanorth commented on #185
Closed with #193.

[2016-03-16 12:57] #185 closed, assigned to alanorth

[2016-03-17 07:26] alanorth commented on #180
Closing as it seems we weren't meant to add these to CUA, only L&R.

[2016-03-17 07:26] #180 closed, assigned to alanorth

[2016-03-21 19:01] alanorth commented on #192
The ansible side of this is trickier to implement, so for now I've only done this for the main domain.

[2016-03-21 19:01] #192 closed, assigned to alanorth

[2016-03-21 19:05] alanorth opened #198 "robots.txt doesn't block search results on community and collection pages"
Today I realized we have 51,000 items in our sitemap and Google is indexing them correctly, but we have 500,000 pages in the index. This is due to Google crawling all the communities and collections and clicking all manners of search, sort, and browse options. It's likely we are getting nailed with a rankings hit because of duplicate content (not to mention the performance overhead of Google's 70,

[2016-03-22 08:45] alanorth commented on #198
In the meantime, I've discovered the URL Parameters section of Webmaster Tools, where you can inform Google how to handle query strings in URLs. It looks like there are tens of millions of URLs for dynamic pages here. This is definitely a huge problem.

![url-parameters](https://cloud.githubusercontent.com/assets/191754/13946111/227705a0-f01b-11e5-8139-5f55a853fe2f.png)
![url-parameters2](https://

[2016-03-22 09:08] alanorth commented on #198
Also, since our sitemap is being consumed properly, we should actually disallow Google's crawling of the site (as suggested by the existing comments in `robots.txt`.

<img width="1011" alt="screen shot 2016-03-21 at 21 15 08" src="https://cloud.githubusercontent.com/assets/191754/13946639/75768214-f01e-11e5-9773-83389ebeb763.png">

[2016-03-22 09:29] #198 closed, assigned to alanorth

[2016-04-06 09:30] alanorth opened #205 "Add missing XMLUI string for type"
When I renamed a bunch of the output type stuff last month (see #132) I missed at least one XMLUI string.

![xmlui-string](https://cloud.githubusercontent.com/assets/191754/14312084/5611328a-fbf3-11e5-9e76-6186e0ffd464.png)

Need to add it in `messages.xml`.

[2016-04-08 06:52] alanorth opened #209 "Item-level embargo set during upload isn't working"
A [user reported](https://www.yammer.com/dspacedevelopers/#/Threads/show?threadId=679975691) that she set the embargo of an item during the upload step, but after approving the item it was still accessible to anonymous users. She had to edit the policy of the PDF bundle after item approval in order to restrict it.

For reference, here is the DSpace 5 documentation for Embargo configuration: https:

[2016-04-10 09:00] #205 closed, assigned to alanorth

[2016-04-25 09:47] alanorth commented on #132
We did a major overhaul on this last week and migrated all `dc.type.output` metadata to `dc.type` and removed all references to the old value in indexes, configs, and the metadata registry.

[2016-04-25 09:47] #132 closed, assigned to nobody

[2016-04-25 09:49] alanorth commented on #72
These were migrated last week and removed from the metadata registry.

[2016-04-25 09:49] #72 closed, assigned to alanorth

[2016-04-25 12:09] alanorth commented on #38
Ah, I think OCSP stapling needs to be enabled on the `default` SSL vhost, and that one can't be using a self-signed cert:
- https://forum.nginx.org/read.php?2,257833,257833
- https://blog.tyk.nu/blog/ocsp-stapling-in-nginx/

If I comment out the default HTTPS host that is using a self-signed cert then OCSP stapling works.

[2016-04-25 20:04] alanorth commented on #38
Ah, this is apparently a bug in OpenSSL! Gah! So we can't fix it until we get a new OpenSSL (aka upgrade the server).

https://trac.nginx.org/nginx/ticket/810

[2016-04-26 12:29] alanorth commented on #209
I just tested this and I was able to submit an item that was accessible only to admins. The resulting item had its bitstream policies for the PDF and the full text both set to the embargo date I had indicated during item submission/upload.

[2016-04-26 12:29] #209 closed, assigned to alanorth

[2016-04-26 12:40] alanorth opened #219 "Reconcile messages.xml"
We have two `messages.xml`:
- dspace-xmlui/src/main/webapp/i18n/messages.xml
- dspace/modules/xmlui/src/main/webapp/i18n/messages.xml

The first is from DSpace's XMLUI application, and the second was created by us to override the default messages (if the second one exists it is used in its entirety). We need to reconcile some of the differences —additions, deletions, changes — in our file with the

[2016-04-27 08:10] alanorth opened #221 ""CGSpace" string is untranslated in non-English interface"
A user reported that the user interface displays "DSpace" instead of "CGSpace" when the language is Spanish.

We need to override the strings using `messages_es.xml` from [dspace-xmlui-lang](https://github.com/DSpace/dspace-xmlui-lang). Should be placed in `dspace/modules/xmlui/src/main/webapp/i18n` to override the ones that DSpace pulls in from the xlmui-lang repo.

[2016-04-27 08:34] alanorth commented on #221
Looks good:

<img width="1227" alt="screen shot 2016-04-27 at 11 31 12" src="https://cloud.githubusercontent.com/assets/191754/14846316/dbdb401c-0c6b-11e6-97ab-4da8ac52c095.png">

[2016-04-27 08:37] #221 closed, assigned to alanorth

[2016-05-31 11:20] alanorth commented on #156
Apparently nobody noticed or needed this. Closing.

[2016-05-31 11:20] #156 closed, assigned to nobody

[2016-06-08 20:17] alanorth opened #232 "Make investor/sponsor clickable in XMLUI item view"
The item view shows values for `dc.description.sponsorship` as plain text but they should be clickable like all other subjects, countries, etc, and lead to a Discovery search for that value. Need to edit `item-view-DIM-helper.xsl`. See this item for an example:

https://cgspace.cgiar.org/handle/10568/73664

[2016-06-09 07:07] alanorth opened #233 "Add rights to submission template"
We need to start making use of `dc.rights` (mandatory) and `dc.rights.uri` (optional). This should use DSpace's controlled-vocabulary functionality and allow for free-text input as well. It will be pre-populated with a handful of Creative Commons licenses.

[2016-06-09 13:29] alanorth opened #234 "Add disclaimer text"
We need to add some disclaimer text, something like:

[code]

[2016-06-09 13:34] alanorth opened #235 "Add text to About page"
We need to add text to the About page that is currently a placeholder. The file to edit is `dspace/config/about.xml`. Contents should be something like:

[code]

[2016-06-10 12:37] alanorth opened #237 "Add ability to search by "Title" in Discovery search"
Discovery search will look in titles, metadata fields, PDF text extracts, etc, and sometimes shows way too many results for an item. It would be nice to be able to restrict the search to just the item's title (both `dc.title` and `dc.title.alternative`).

[2016-06-10 12:43] alanorth commented on #69
We finally started using this for animal breeds in #236. It seems that leaving the `label` blank (but present, or else it causes an error) causes it to be a flat hierarchy. The values are just stored as is in the field.

We also want to do controlled vocabularies for these fields:
- [x] dc.title.jtitle (moved to dc.source in 2016-07)
- [x] dc.contributor.affiliation
- [x] dc.description.sponsorshi

[2016-06-18 13:20] alanorth commented on #237
There is already a search filter for `searchFilterTitle` but I added it to the `searchFilters` and it doesn't seem to work as you'd expect; searching for a title containing something explicit results in items that DON'T have that in the title. I will ask on the mailing list.

[2016-06-18 13:32] alanorth commented on #237
Hrm, it appears you can search like this with no additional configuration:

[code]

This appears to be using the `search.index.3` from `dspace.cfg`.

[2016-06-18 13:49] alanorth commented on #237
Closing for now because it seems to be a UI/UX issue.

[2016-06-18 13:49] #237 closed, assigned to alanorth

[2016-06-19 05:04] alanorth opened #242 "Add list of mapped collections to item display"
It would be nice to have the "This item appears in the following Collection(s)" thing from the full item view working on the simple item view.

[2016-06-19 05:17] alanorth commented on #242
It seems to be printed from this template in `item-view.xsl`:

[code]

Adding this to the simple item view results in something weird, though:

![screen shot 2016-06-19 at 08 04 47](https://cloud.githubusercontent.com/assets/191754/16175408/98036524-35f4-11e6-8837-72339a521f91.png)

Whereas the full item view's looks like this:

![screen shot 2016-06-19 at 08 05 50](https://cloud.githubusercontent

[2016-06-19 05:27] alanorth commented on #242
I think it's something in `ViewItem.java` and `ItemViewer.java` that prints a different collections block depending on whether we are in the "simple" or "full" item view, and also in the administrative "view item" context.

[2016-06-19 13:20] alanorth opened #243 "Add new investors/sponsors to controlled vocabulary"
Need to add a few new terms to the `dc.description.sponsorship` controlled vocabulary:
- Centre for International Migration and Development
- German Research Foundation

[2016-06-24 12:33] #243 closed, assigned to alanorth

[2016-06-28 16:03] alanorth commented on #120
We will be merging `dc.contributor.corporate` into `dc.contributor.author` to fit how people are actually using this field.

[2016-06-28 16:03] #120 closed, assigned to alanorth

[2016-06-28 16:09] alanorth commented on #59
Testing DSpace Test with an IPv6 site validator seems to work.

![screen shot 2016-06-28 at 19 08 19](https://cloud.githubusercontent.com/assets/191754/16423214/d0d038ca-3d63-11e6-83b8-2c877aa86442.png)

Maybe I should just add IPv6 records for CGSpace now.

[2016-06-29 15:29] alanorth commented on #69
Controlled vocabularies for sponsorship, subregion, and animal breed. Still cleaning up the values for the others.

[2016-06-29 21:36] oguya commented on #59
I also need to create IPv6 records for the other linodes too. On a side note, seems like CGNET hasn't added IPv6 records for their DNS servers—which explains the red X—but this shouldn't be a major issue.

[2016-06-29 21:48] oguya commented on #183
Why not 9.5? It already contains 9.4's performance benefits plus other new features
https://wiki.postgresql.org/wiki/What's_new_in_PostgreSQL_9.5

Besides that, 9.5 is the default version on Ubuntu 16.04 :wink:

[2016-06-30 07:25] rradillen commented on #183
incidentally is 9.4 minimum for dspace 6.

On 29 June 2016 at 23:48, James Oguya notifications@github.com wrote:

[2016-06-30 08:48] alanorth commented on #183
@oguya Yah, when I opened this issue four months ago (😉) I mostly just wanted to make a note somewhere that 9.4 had some potential issues to consider on the system side (huge pages). Of course we'll go with PostgreSQL 9.5 when we finally move to the new Ubuntu hotness! Also, when has the "default version on Ubuntu" stopped you from installing a PPA and overriding the distro's version against my ad

[2016-06-30 08:59] alanorth commented on #59
Our nginx configs are definitely IPv6 ready (since a year, apparently, according to this issue), but I don't know about your Apache ones?

[2016-06-30 09:44] alanorth commented on #232
Also add to Discovery sidebar facets!

[2016-06-30 09:50] oguya commented on #59
I think they are IPv6 ready. We always, use `<VirtualHost *:80>` which would make apache bind to all addresses assigned to a box.
So in the case of a cloud VPS instance, apache would serve requests from both IP v4 & v6, provided you have made the necessary firewall changes.

[2016-06-30 09:55] alanorth commented on #59
You could `ssh -D` to one of the Linode boxes and then re-direct your Firefox through the SOCKS proxy to test IPv6, since no fucking user ISP has IPv6 to actually test. :)

[2016-07-06 09:48] #232 closed, assigned to alanorth

[2016-07-06 14:06] alanorth commented on #34
Closing in favor of #69.

[2016-07-06 14:06] #34 closed, assigned to alanorth

[2016-07-07 06:04] swebshet commented on #235
Sure Alan, I just add some text there but it should be on top of the page.

[2016-07-12 14:31] alanorth opened #252 "Add breeds and species to item display"
Need to add "Animal breed type" (cg.species.breed) and "Species" (cg.species) to the XMLUI item display. They should go under Regions.

[2016-07-12 14:35] alanorth opened #253 "Move Identifiers up in the item display"
To make the identifiers more prominent we want to move them up to be above the Citation field. They should be without a heading, just "Permanent URI" etc. Probably in bold.

[2016-07-19 11:05] #252 closed, assigned to alanorth

[2016-07-19 11:06] #253 closed, assigned to alanorth

[2016-07-25 12:26] #235 closed, assigned to alanorth

[2016-07-25 17:36] alanorth commented on #234
There's a mini disclaimer in the about page merged in #256, maybe we can just make it more pronounced?

[2016-07-31 07:25] alanorth opened #257 "Rename "Subjects" to "AGROVOC keywords" in Discovery"

[2016-08-06 11:19] #257 closed, assigned to nobody

[2016-08-23 11:56] alanorth commented on #183
It looks like Linode kernels don't support huge pages anyways, so this is useless to worry about right now.

[2016-08-23 11:56] #183 closed, assigned to alanorth

[2016-08-27 06:18] alanorth commented on #219
I'll look at this again after we move to DSpace 5.5.

[2016-09-09 14:14] alanorth opened #266 "Adjust controlled vocabulary for sponsorship field"
Add _Ministry for Foreign Affairs of Finland_ and remove _Finnida_ from the sponsorship controlled vocabulary: `dspace/config/controlled-vocabularies/dc-description-sponsorship.xml`

[2016-09-20 08:06] #266 closed, assigned to alanorth

[2016-09-20 08:30] #219 closed, assigned to alanorth

[2016-09-20 08:33] alanorth commented on #69
Added new controlled vocabulary for `cg.contributor.affiliation` in #267.

[2016-09-20 13:10] alanorth opened #270 "Improve title searching"
Searching for titles is horrible in CGSpace, and users ask about this quite often. I propose:
- Add the title index to search facets in `dspace/config/spring/api/discovery.xml`
- Use `AND` instead of `OR` for boolean logic of search terms (need to read the docs to see if that's possible)

[2016-09-21 08:24] alanorth opened #272 "Remove old about page"
The old placeholder about page is still active even though we added a better one #256. Need to remove `dspace/config/about.xml` and all the XMLUI wiring for it.

[2016-09-25 11:48] alanorth commented on #270
Default Solr boolean search logic changed in #274.

[2016-09-25 11:48] #270 closed, assigned to alanorth

[2016-09-25 12:06] alanorth commented on #38
I tested OCSP stapling on the test server with Ubuntu 16.04 / openssl 1.0.2 / Let's Encrypt cert and stapling works:

[code]

Just need to add the relevant configuration section to the nginx vhost config:

[code]

Next, I need to update the playbook templates in https://github.com/ilri/rmg-ansible-public.

[2016-09-28 15:46] alanorth commented on #234
Instead of all of this horrible text in the footer, we will add a separate page, like the about page.

[2016-10-03 15:07] alanorth commented on #234
I added the text to the About page, linked to it from a footer link with a named anchor on the about page, but there's a [Bootstrap issue](https://github.com/twbs/bootstrap/issues/1768) that causes in-page links to hide page content when using a fixed navbar:

![screen shot 2016-10-03 at 18 06 47-fs8](https://cloud.githubusercontent.com/assets/191754/19042319/36aea376-8994-11e6-89f0-1da1ec590520.p

[2016-10-03 19:12] #234 closed, assigned to nobody

[2016-10-04 08:08] #272 closed, assigned to alanorth

[2016-10-16 13:20] alanorth commented on #59
I'm sitting on a network that uses IPv6 right now and testing DSpace Test (which has been using IPv6 for over a year now). Everything works fine. When we move CGSpace to a new server soon we should just add IPv6 records and be done with this.

[2016-11-02 11:48] alanorth commented on #63
DSpace Test was migrated to DSpace 5.5 and now passes validation. Pinging @Jayakananthan if he's still around! Testing from [base search](http://oval.base-search.net/) with this string:

https://dspacetest.cgiar.org/oai/request?verb=Identify

[2016-11-02 11:48] #63 closed, assigned to alanorth

[2016-11-03 08:41] alanorth opened #287 "Add AMR to ILRI subjects"

[2016-11-10 12:04] alanorth commented on #287
Fixed in https://github.com/ilri/DSpace/commit/9cabae031f3982b878d0939136a4c69cf885f682

[2016-11-10 12:04] #287 closed, assigned to alanorth

[2016-11-17 11:53] alanorth commented on #155
I actually don't favor this look anymore — it doesn't look good on the modern web in my opinion. Anyways, if we really wanted to emulate the old look, straight black is too much, so it would have been better with something like `#666`.

[2016-11-17 11:53] #155 closed, assigned to nobody

[2016-11-17 13:02] alanorth commented on #141
This is enabled by default, so we don't need to do anything, only to be conscious of it.

[2016-11-17 13:02] #141 closed, assigned to nobody

[2016-11-17 13:52] alanorth commented on #89
Here's a SQL query to find the manually generated thumbnails:

[code]

The `.jpg.jpg` comes from the fact that we uploaded a manually generated thumbnail into the item's content bundle, then DSpace's media filter made a thumbnail of THAT and put it into the thumbnail bundle.

Not sure how to automate the deletion and moving of those... perhaps via getting the list of handles and doing export/impor

[2016-11-27 08:10] alanorth commented on #233
I played with the [Creative Commons licensing step](https://wiki.duraspace.org/display/DSDOC5x/Configuration+Reference#ConfigurationReference-ConfiguringCreativeCommonsLicense) in the submission form and the following rights fields get populated:

- `dc.rights`: Attribution-ShareAlike 3.0 United States
- `dc.rights.uri`: http://creativecommons.org/licenses/by-sa/3.0/us/

Not sure how to use other

[2016-12-07 15:39] alanorth commented on #179
Still happens on DSpace 5.5. Need to check if it happens on the DSpace XMLUI demo which is currently running DSpace 6.0, and then file a bug if so (otherwise nobody will care).

[2016-12-07 16:20] alanorth commented on #179
I just uploaded ~100 documents to the DSpace XMLUI demo on 6.0 and was able to reproduce the same bug. I opened a ticket on the DSpace bug tracker ([DS-3417](https://jira.duraspace.org/browse/DS-3417)).

Stack trace:

[code]

[2016-12-18 06:13] alanorth opened #293 "Add new CRPs"
Add the following terms to the list of CRPs in `dspace/config/input-forms.xml`:

[code]

These are new consortium research programs for 2017.

[2016-12-18 06:40] #293 closed, assigned to alanorth

[2016-12-18 09:28] alanorth commented on #38
Now working in https://github.com/ilri/rmg-ansible-public/pull/76. First response shows no OCSP, and second response shows the stapled response returned to the client (that will be cached for the rest of the clients):

[code]

[2016-12-18 09:28] #38 closed, assigned to alanorth

[2016-12-18 19:38] alanorth commented on #59
Test and production both have IPv6 records now.

[2016-12-18 19:38] #59 closed, assigned to alanorth

[2017-01-24 16:20] alanorth commented on #242
Solution was merged in https://github.com/ilri/DSpace/commit/6b7ee1b1e5dc2022f91dbc59856290a3a4a9bbd5.

[2017-01-24 16:20] #242 closed, assigned to nobody

[2017-01-28 15:02] #69 closed, assigned to alanorth

[2017-02-08 05:40] alanorth opened #301 "Adjustments for CCAFS Phase II"
CCAFS is starting a new phase and needs new flagships and project tags added to CGSpace. We need to add the `cg.identifier.ccafsprojectpii` field to the metadata registry (and probably `dspace/config/registries/cgiar-types.xml`), and add the subjects themselves to the input forms.

[2017-02-08 17:29] alanorth commented on #301
Progress on this:

- Add new project tags: https://github.com/alanorth/DSpace/commit/e960273430b320fea65aedba4bebfcbfb71a9721
- Rename phase I flagships: https://github.com/alanorth/DSpace/commit/20b92d1a30401177e036f1c0e680da8adcd532c8

[2017-02-09 23:26] alanorth commented on #301
Add `cg.identifier.ccafsprojectpii` to metadata registry: https://github.com/alanorth/DSpace/commit/f095c7c040dce6fc7bff8727df5160a5ebbc6b6a

[2017-03-12 11:50] alanorth opened #309 "Add XMLUI theme for Livestock CRP"
Add an XMLUI theme for Livestock CRP community:

- Handle: 10568/80099
- Google Analytics ID: UA-93178643-1
- Web colors (RGB): 194, 77, 46

[2017-03-12 15:26] alanorth commented on #309
Basic theme with primary branding finished, code in https://github.com/alanorth/DSpace/tree/5_x-livestock-theme.

![screen shot 2017-03-12 at 17 20 01-fs8](https://cloud.githubusercontent.com/assets/191754/23833046/d411a596-0748-11e7-8087-a149c0e1fe64.png)

[2017-03-15 15:08] alanorth commented on #309
Added in 04183c399a3a3eaecd4ada41a77a0e5f268c49d7.

[2017-03-15 15:08] #309 closed, assigned to alanorth

[2017-03-16 14:43] #301 closed, assigned to alanorth

[2017-03-20 11:22] alanorth opened #314 "Add XMLUI community for PABRA"
For handle `10568/80211` with Google Analytics ID `UA-74427760-1`.

[2017-03-20 12:05] #314 closed, assigned to alanorth

[2017-04-30 18:32] alanorth opened #318 "Add new CCAFS project tags"
Need to add `WA_CSV` and `PII-WA_CSV` to the `ccafsproject` tags in `dspace/config/input-forms.xml`.

[2017-05-16 07:16] alanorth commented on #318
Closed by #320.

[2017-05-16 07:16] #318 closed, assigned to nobody

[2017-05-16 07:19] alanorth opened #322 "Add metadata field for WLE Phase II research themes"
Need to add a new metadata field like `cg.identifier.wlethemepii` for WLE's Phase II research themes and then tag the existing items in each of their [research themes collections](https://cgspace.cgiar.org/handle/10568/34508) with the following themes:

- Decision Analysis and Information: `Regenerating Degraded Landscapes`
- Gender, Poverty and Institutions: `Gender, Youth and Inclusivity`
- Land

[2017-05-19 14:52] alanorth opened #323 "Add contributor affiliation to Listing and Reports"
Add `cg.contributor.affiliation` to the Listings and Reports module.

[2017-05-21 12:44] alanorth opened #324 "Create XMLUI theme for CGIAR System Organization community"
We need to create an XMLUI theme for the new community that is coming. Should use colors from the [CGIAR Branding guidelines](https://library.cgiar.org/handle/10947/2699), as well as the following Google Analytics code: UA-28608033-1.

[2017-05-23 08:59] alanorth commented on #323
Closed by #325.

[2017-05-23 08:59] #323 closed, assigned to nobody

[2017-05-28 08:49] alanorth opened #326 "Switch to using ISO3 and UN M.49 codes"
It would be very nice if we could switch to using standardized codes for countries and regions, ie:

- [ISO 3166-1-alpha-2 country codes](http://data.okfn.org/data/core/country-list)
- [ISO 3166-1 alpha 3 country codes](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3)
- [UN M.49 area codes](https://en.wikipedia.org/wiki/UN_M.49)

I think we could do this by simply using different displayed/stored

[2017-05-29 10:06] alanorth opened #327 "Add metadata field for WLE Phase I research themes"
In discussion and planning for #322 we decided that we should have a proper metadata field for WLE's phase I research themes, perhaps `cg.identifier.wletheme`. We need to tag all items in their [research themes collections](https://cgspace.cgiar.org/handle/10568/34508) with the name of the collection (as that is the theme name):

- Decision Analysis and Information
- Ecosystems Service and Resilie

[2017-06-01 07:16] alanorth commented on #322
After discussions we decided to only add one new metadata field—`cg.identifier.wletheme`—and store both Phase I and Phase II research themes in it. We will create a new sub-community for the Phase II research themes and create collections for each theme there, similar to how the current Phase I "Research Themes" sub-community is.

Items in both Phase I and II research theme collections will be tag

[2017-06-01 07:17] alanorth commented on #327
After discussion (see #322) we decided to use one field for both Phase I and II research themes: `cg.identifier.wletheme`.

[2017-06-01 07:17] #327 closed, assigned to nobody

[2017-06-07 10:34] #322 closed, assigned to nobody

[2017-08-31 16:30] alanorth commented on #324
Going to use the existing `0_CGIAR` theme but override the Google Analytics ID.

[2017-08-31 16:30] #324 closed, assigned to nobody

[2017-08-31 16:32] alanorth opened #335 "Sort CCAFS flagships alphabetically"
Need to sort CCAFS flagships (cg.subject.ccafs) alphabetically in `input-forms.xml`.

[2017-08-31 16:35] alanorth commented on #335
Oops, I misunderstood. In May, 2017 we purposefully re-ordered these to NOT be alphabetical. Closing issue.

[2017-08-31 16:35] #335 closed, assigned to nobody

[2017-09-19 08:13] alanorth opened #340 "Add ISI Journal filter to advanced search"
Abenet wants to be able to filter by ISI Journal in advanced search. For example, in a search like this, to be able to add one more level of filtering by `cg.isijournal`:

https://cgspace.cgiar.org/discover?filtertype_0=dateIssued&filtertype_1=dateIssued&filter_relational_operator_1=equals&filter_relational_operator_0=equals&filter_1=%5B2010+TO+2017%5D&filter_0=2017&filtertype=type&filter_relation

[2017-09-24 12:20] alanorth commented on #340
Working on DSpace Test:

<img width="861" alt="screen shot 2017-09-24 at 15 19 43-fs8" src="https://user-images.githubusercontent.com/191754/30782493-dde0d2a8-a13b-11e7-8eb5-22aa62ba5afd.png">

[2017-10-04 11:04] alanorth opened #342 "Don't use "target=_blank" in links"
Using `target=_blank` in links makes the browser open the link in a special way that gives the new window access to the original window's `.window` object in the DOM. This can be misused in malicious ways and it is recommended to also use `rel=noopener` in these cases. We need to edit our XMLUI themes to use the recommend rel syntax in these cases.

See: https://mathiasbynens.github.io/rel-noopene

[2017-10-04 14:05] #340 closed, assigned to nobody

[2018-03-01 10:50] alanorth opened #356 "Add new CRP "Grain Legumes and Dryland Cereals""
Need to add "GRAIN LEGUMES AND DRYLAND CEREALS" to `crpsubjects` in `input-forms.xml`. Was just approved: http://gldc.cgiar.org/

[2018-03-06 12:44] #356 closed, assigned to nobody

[2018-03-07 10:36] alanorth opened #361 "Add ORCID identifier field to search and browse indexes"
We should be able to search and browse by ORCID identifier (cg.creator.id).

[2018-03-07 10:39] alanorth opened #362 "Update CRP text values in cg.contributor.crp"
After some discussion with ICARDA and the System Organization we decided that we should update the CRP names on CGSpace to use title case. We need to adjust the `cg.contributor.crp` values in `input-forms.xml` to reflect this, with new CRPs first, and old ones last (all in alphabetical order):

[code]

Later we need to do a batch update of old values to new values in the database.

[2018-03-16 21:32] #362 closed, assigned to nobody

[2018-03-20 16:45] #73 closed, assigned to nobody

[2018-03-20 16:46] alanorth commented on #73
Closing after two years of inactivity.

[2018-03-20 19:05] alanorth opened #368 "Error during Discovery indexing"
After disabling the ORCID authority stuff in #363 there is an error during Discovery indexing:

[code]

[2018-03-21 08:35] alanorth commented on #368
Looks like the indexing gets confused that there is still data in the `authority` column. Since we've migrated the ORCID identifiers associated with the authority data to the `cg.creator.id` field we can nullify the authorities remaining in the database:

[code]

After this the indexing works as usual.

[2018-03-21 08:35] #368 closed, assigned to nobody

[2018-03-28 08:05] alanorth opened #369 "Add ISI journal to Listings and Reports"
Abenet wants to be able to use ISI journal (cg.isijournal) in reports.

[2018-03-28 14:35] #369 closed, assigned to nobody

[2018-04-10 12:34] #361 closed, assigned to nobody

[2018-05-22 14:50] alanorth opened #376 "Add new CCAFS phase II project tag"
Need to add `PII-FP1_PACCA2` to the `ccafsprojectpii` controlled vocabulary in `dspace/config/input-forms.xml`.

[2018-06-05 03:02] #376 closed, assigned to nobody

[2018-07-04 09:13] alanorth opened #381 "Add "United Kingdom government" to sponsors"
Should be added to the controlled vocabulary in `dspace/config/controlled-vocabularies/dc-description-sponsorship.xml`.

[2018-07-04 09:37] alanorth opened #382 "Add a new Phase II WLE research theme"
We need to add `Enhancing Sustainability Across Agricultural Systems` to the Phase II section of `wletheme` in `dspace/config/input-forms.xml`.

[2018-07-06 08:08] alanorth opened #383 "Add new CCAFS Phase II Project Tag to input forms"
Need to add `PII-FP2_MSCCCAFS` to the `ccafsprojectpii` controlled vocabulary in `dspace/config/input-forms.xml`.

[2018-07-08 20:19] alanorth opened #384 "Add journal title (dc.source) to advanced search filters"
Abenet wants to be able to search by Journal Title (dc.source) in the advanced search. A Discovery index for `dc.source` already exists in `dspace/config/spring/api/discovery.xml` so I just need to add it to the necessary search bean (no re-index required).

[2018-07-10 10:25] #381 closed, assigned to nobody

[2018-07-10 10:25] #382 closed, assigned to nobody

[2018-07-10 10:25] #383 closed, assigned to nobody

[2018-07-10 10:25] #384 closed, assigned to nobody

[2018-10-01 19:30] alanorth opened #389 "Add Phil Thornton's ORCID identifier to controlled vocabulary"
We need to add it to the controlled vocabulary for `cg.creator.id` and tag all his older items with this identifier: 0000-0002-1854-0182

[2018-10-03 14:56] alanorth commented on #389
Closed by #390.

[2018-10-03 14:56] #389 closed, assigned to nobody

[2018-10-14 06:11] alanorth commented on #233
Closed in #394. We decided to just add our own controlled vocabulary for Creative Commons licenses using the [machine-readable SPDX license names](https://spdx.org/licenses/).

[2018-10-14 06:11] #233 closed, assigned to nobody

[2018-10-14 06:14] alanorth commented on #179
Still a problem in DSpace 5.8.

[2018-10-25 14:45] alanorth opened #401 "Add publisher to advanced search filters"
A user asked if we can add publisher (`dc.publisher`) to the advanced search filters.

[2018-10-28 15:52] #401 closed, assigned to nobody

[2019-04-25 10:04] alanorth opened #419 "Tweak sharing icons"
We need to remove Google+ and Delicious because they have both been discontinued. Also, it would be nice if we could include the item title in the shared link.

[2019-05-05 08:22] #419 closed, assigned to nobody

[2019-12-18 12:35] alanorth opened #439 "Add Open Government licences to dc.rights"
[Some items](https://cgspace.cgiar.org/handle/10568/106035) use "Open Government License 3.0" as a license. This is [`OGL-UK-3.0` in SPDX](https://spdx.org/licenses/OGL-UK-3.0.html). We should add it to our controlled vocabulary.

[2019-12-18 12:47] #439 closed, assigned to nobody

[2020-11-15 20:22] alanorth commented on #326
As of mid-2020 we are now using mostly ISO 3166-1 country names in our submission forms and tagging ISO 3166-1 Alpha2 country codes via a nightly [curation task](https://github.com/ilri/cgspace-java-helpers). More recently we began using UN M.49 for region names.

[2020-11-15 20:22] #326 closed, assigned to nobody

[2020-11-15 20:23] alanorth commented on #89
I ended up writing a [script to remove ".jpg.jpg" thumbnails](https://github.com/ilri/cgspace-java-helpers/blob/dspace6/src/main/java/io/github/ilri/cgspace/scripts/README.md).

[2020-11-15 20:23] #89 closed, assigned to nobody